.vscode/*
*.pyc
log/*
*.log
__pycache__/*
Bingle/__pycache__/*
Bingle/__pycache__/view.cpython-36.pyc
Bingle/__pycache__/view.cpython-36.pyc
Bingle/__pycache__/settings.cpython-36.pyc
Bingle/__pycache__/__init__.cpython-36.pyc
Bingle/__pycache__/compiler.cpython-36.pyc
BackGround/migrations/*
.DS_Store
