{% load static %}
{% load extra %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'build/img/apple-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'build/img/favicon.png' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>冰果极限</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="{% static 'build/css/css.css' %}" />
    <link rel="stylesheet" href="{% static 'build/css/font-awesome.min.css' %}" />

    <!-- CSS Files -->
    <link href="{% static 'build/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'build/css/material-kit.css' %}" rel="stylesheet" />

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="{% static 'build/css/vertical-nav.css' %}" rel="stylesheet" />
    <link href="{% static 'build/css/demo.css' %}" rel="stylesheet" />
    {% block head %}
    　　
    {% endblock %}
</head>

<body class="index-page">
    <!-- 菜单-->
    <nav class="navbar navbar-default navbar-transparent navbar-fixed-top navbar-color-on-scroll" color-on-scroll=" "
        id="sectionsNav">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Home of Programmers</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="material-icons">apps</i> 基础学习
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-with-icons">
                            <li>
                                <a href="sections.html#headers">
                                    <i class="material-icons">dns</i> 教学课程
                                </a>
                            </li>
                            <li>
                                <a href="sections.html#features">
                                    <i class="material-icons">build</i> 算法学习
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="#">
                            <i class="material-icons">view_day</i> 在线编码
                        </a>

                    </li>

                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="material-icons">view_carousel</i> 成长之路

                        </a>

                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="material-icons">view_carousel</i> 参加竞赛

                        </a>

                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="material-icons">view_carousel</i> 面试刷题

                        </a>

                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block banner %}
    　　
    {% endblock %}
    
    {% block body %}
    　　
    {% endblock %}
    <!-- 页尾 -->
    <footer class="footer footer-black footer-big">
        <div class="container">

            <div class="content">
                <div class="row">
                    <div class="col-md-4">
                        <h5>关于我们</h5>
                        <p>冰果极限是由一群资深的软件架构师发起，由众多年轻软件工程师负责运营的，为软件爱好者、从业者提供学习、成长、进步的舞台。 </p>
                        <p>我们热爱软件事业，愿意投入毕生精力助力中国软件人才的成长。</p>
                    </div>

                    <div class="col-md-4">
                        <h5>社交媒体</h5>
                        <div class="social-feed">
                            <div class="feed-line">
                                <i class="fa fa-twitter"></i>
                                <p>How to handle ethical disagreements with your clients.</p>
                            </div>
                            <div class="feed-line">
                                <i class="fa fa-twitter"></i>
                                <p>The tangible benefits of designing at 1x pixel density.</p>
                            </div>
                            <div class="feed-line">
                                <i class="fa fa-facebook-square"></i>
                                <p>A collection of 25 stunning sites that you can use for inspiration.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <h5>Instagram Feed</h5>
                        <div class="gallery-feed">
                            <img src="{% static 'build/img/faces/card-profile6-square.jpg' %}"
                                class="img img-raised img-rounded" alt="" />
                            <img src="{% static 'build/img/faces/christian.jpg' %}"
                                class="img img-raised img-rounded" alt="" />
                            <img src="{% static 'build/img/faces/card-profile4-square.jpg' %}"
                                class="img img-raised img-rounded" alt="" />
                            <img src="{% static 'build/img/faces/card-profile1-square.jpg' %}"
                                class="img img-raised img-rounded" alt="" />

                            <img src="{% static 'build/img/faces/marc.jpg' %}" class="img img-raised img-rounded"
                                alt="" />
                            <img src="{% static 'build/img/faces/kendall.jpg' %}" class="img img-raised img-rounded"
                                alt="" />
                            <img src="{% static 'build/img/faces/card-profile5-square.jpg' %}"
                                class="img img-raised img-rounded" alt="" />
                            <img src="{% static 'build/img/faces/card-profile2-square.jpg' %}"
                                class="img img-raised img-rounded" alt="" />
                        </div>

                    </div>
                </div>
            </div>


            <hr />

            <ul class="pull-left">
                <li>
                    <a href="#pablo">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="#pablo">
                        Presentation
                    </a>
                </li>
                <li>
                    <a href="#pablo">
                        Discover
                    </a>
                </li>
                <li>
                    <a href="#pablo">
                        Payment
                    </a>
                </li>
                <li>
                    <a href="#pablo">
                        Contact Us
                    </a>
                </li>
            </ul>

            <div class="copyright pull-right">
                Copyright &copy;
                <script>document.write(new Date().getFullYear())</script> Creative Tim All Rights
                Reserved.
            </div>
        </div>
    </footer>
</body>
<!--   Core JS Files   -->
<script src="{% static 'build/js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'build/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'build/js/material.min.js' %}"></script>

<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="{% static 'build/js/moment.min.js' %}"></script>

<!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{% static 'build/js/nouislider.min.js' %}" type="text/javascript"></script>

<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="{% static 'build/js/bootstrap-datetimepicker.js' %}" type="text/javascript"></script>

<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="{% static 'build/js/bootstrap-selectpicker.js' %}" type="text/javascript"></script>

<!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
<script src="{% static 'build/js/bootstrap-tagsinput.js' %}"></script>

<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="{% static 'build/js/jasny-bootstrap.min.js' %}"></script>




<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
<script src="{% static 'build/js/material-kit.js' %}" type="text/javascript"></script>

<!-- Fixed Sidebar Nav - JS For Demo Purpose, Don't Include it in your project -->
<script src="{% static 'build/js/modernizr.js' %}" type="text/javascript"></script>
<script src="{% static 'build/js/vertical-nav.js' %}" type="text/javascript"></script>
{% block bottom %}
　　
{% endblock %}

</html>