{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static '/codemirror/lib/codemirror.css' %}">
  <script src="{% static '/codemirror/lib/codemirror.js' %}"></script>
  <script src="{% static '/codemirror/addon/selection/active-line.js' %}"></script>
  <script src="{% static '/codemirror/mode/python/python.js' %}"></script>
  <script src="{% static '/codemirror/mode/go/go.js' %}"></script>
  <script src="{% static '/codemirror/mode/clike/clike.js' %}"></script>
  <script src="{% static '/codemirror/mode/ruby/ruby.js' %}"></script>
  <script src="{% static '/codemirror/mode/perl/perl.js' %}"></script>
  <script src="{% static '/codemirror/mode/swift/swift.js' %}"></script>
  <script src="{% static '/codemirror/mode/pascal/pascal.js' %}"></script>
  <script src="{% static '/codemirror/mode/fortran/fortran.js' %}"></script>
  <script src="{% static '/codemirror/mode/javascript/javascript.js' %}"></script>
  <style>
    .CodeMirror {height:400px}
    .breakpoints {width: .8em;}
    .breakpoint { color: #822; }
    .CodeMirror {border-radius: 6px;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);}
  </style>
  <link href="{% static '/css/bootstrap-editable.css' %}" rel="stylesheet">

{% endblock%}
{% block banner%}
<div class="page-header header-filter clear-filter" data-parallax="true"
  style="background-image: url({% static 'build/img/bg7.jpg' %});">

</div>
{% endblock%}
{% block body %}

<div class="main pagecontent-raised">
    <div class="section">
        <div class="container">
            <!-- 操作按钮 -->                           
            <div class=" collapse navbar-collapse">
                <div class="col-md-2">
                     <select id="codetype" name="codetype" class="selectpicker" data-style="btn btn-info" data-size="10" tabindex="-98">
                        <option value="python" select="">Python</option>
                        <option value="text/x-go">GO</option>
                        <option value="text/x-c++src">C++</option>
                        <option value="text/x-csrc">C</option>
                        <option value="text/x-java">JAVA</option>
                        <option value="text/x-csharp">CSharp</option>
                        <option value="text/x-objectivec">ObjectiveC</option>
                        <option value="text/x-swift">Swift</option>
                        <option value="text/x-ruby">Ruby</option>
                        <option value="text/x-perl">Perl</option>
                        <option value="text/x-fortran">Fortran</option>
                        <option value="text/x-pascal">Pascal</option>
                        <option value="text/typescript">TypeScript</option>
                    </select>
                </div>
                <nav id="debugbuttons" class="col-md-10 navbar  navbar-success  " >
                    <ul class="nav navbar-nav navbar-left">

                        <li>
                            <a id="save" href="#" class="dropdown-toggle">
                                <i class="material-icons">save</i> 保存
                            </a>

                        </li>

                        <li>
                            <a id="run" href="#" class="dropdown-toggle" >
                                <i class="material-icons">play_arrow</i> 运行

                            </a>

                        </li>
                        <li>
                            <a id="submit" href="#" class="dropdown-toggle" >
                                <i class="material-icons">mail</i> 提交

                            </a>

                        </li>
                        <li>
                            <a id="debug" href="#" class="dropdown-toggle" >
                                <i class="material-icons">bug_report</i> 调试

                            </a>

                        </li>
                        <li>
                            <a id="debugstop" href="#" class="dropdown-toggle" >
                                <i class="material-icons">stop</i> 停止

                            </a>

                        </li>
                        <li>
                            <a id="debugdown" href="#" class="dropdown-toggle" >
                                <i class="material-icons">trending_down</i> StepInto

                            </a>

                        </li>
                        <li>
                            <a id="debugup" href="#" class="dropdown-toggle" >
                                <i class="material-icons">trending_up</i> StepOver
                            </a>
                        </li>
                        <li>
                            <a id="debugcontinue" href="#" class="dropdown-toggle" >
                                <i class="material-icons">playlist_play</i> Continue
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!--代码及调试区域-->
            <div class="row">
                <!--代码-->
                <div class="col-md-6" id="maindiv">
                    <textarea id="codeid" class="form-control" name="code"></textarea>  
                </div>
                <!--输入输出-->
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-content ">
                            <label class="control-label">这里是程序启动输入</label>
                            <textarea id="stdin" name="stdin" class="form-control" rows="6"></textarea>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content ">
                            <label class="control-label">这里是程序执行结果输出</label>
                            <textarea id="stdout" name="stdout" class="form-control" rows="7"></textarea>
                        </div>
                    </div>
                </div>
                <!--调试信息-->
                <div class="col-md-3" id="debugpanel" style="display: none;">
                    <div class="card">
                        <div class="card-content ">
                            <label class="control-label">本地变量</label>
                            <table class="table" id='vartable'>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content ">
                            <label class="control-label">监视变量</label>
                            <label class="control-label pull-right"><a id="addvar" href="#">+</a></label>
                                <table class="table" id="watchtable">
                                    <tbody></tbody>
                                </table>
                        </div>
                    </div>
                    <!--
                    <div class="card">
                        <div class="card-content ">
                            <label class="control-label">堆栈信息</label>
                                <table class="table" id="stacktable">
                                <thead>
                                    <tr>
                                    <th>行</th>
                                    <th>位置</th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                    
                                </tbody>
                                </table> 
                        </div>
                    </div>
                    -->
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock%}
{% block bottom %}
<script src="{% static '/js/bootstrap-editable.js' %}"></script>
<script>

    var editor = CodeMirror.fromTextArea(document.getElementById("codeid"), {
        mode: {name: $('#codetype').val(),
                version: 3,
                singleLineStringErrors: true},
                lineNumbers: true,
                gutters: ["CodeMirror-linenumbers", "breakpoints"],
                indentUnit: 4,
                styleActiveLine: true,
                height: "100%",
                smartIndent: true, // 智能缩进
                indentWithTabs: true, // 使用制表符进行智能缩进
                matchBrackets: true
    });
    //添加断点
    editor.on("gutterClick", function(cm, n) {
        var info = cm.lineInfo(n);
        var obj = info.gutterMarkers ? null : makeMarker()
        var lines = [];
        lines.push(n+1);

        cm.setGutterMarker(n, "breakpoints", obj);
        if(debugging){
            $.post("../debug/", { 
                                    line:JSON.stringify(lines),
                                    action: obj ? 'addbreak':'removebreak'},
            function(data){
            });
        }
    });
    //添加断点
    function makeMarker() {
        var marker = document.createElement("div");
        marker.style.color = "#822";
        marker.innerHTML = "●";
        return marker;
    }
    //设置状态
    function setstatus(){
        if(debugging){
            //调试模式
            $('#debugstop').show();
            $('#debugup').show();
            $('#debugdown').show();
            $('#debugcontinue').show();
            $('#debugpanel').show();
            $('#maindiv').toggleClass('col-md-9');
            $('#maindiv').toggleClass('col-md-6');
            
            $('#debug').hide();
            $('#save').hide();
            $('#reset').hide();
            $('#run').hide();
            $('#submit').hide();

            $('#debugbuttons').toggleClass('navbar-info');
            $('#debugbuttons').toggleClass('navbar-success');
        }else{
            //非调试模式
            $('#debugstop').hide();
            $('#debugup').hide();
            $('#debugdown').hide();
            $('#debugcontinue').hide();
            $('#debugpanel').hide();
            $('#maindiv').toggleClass('col-md-9');
            $('#maindiv').toggleClass('col-md-6');
            
            $('#debug').show();
            $('#save').show();
            $('#reset').show();
            $('#run').show();
            $('#submit').show();

            $('#debugbuttons').toggleClass('navbar-info');
            $('#debugbuttons').toggleClass('navbar-success');
        }
    }
    //更改语言
    function changecode() {
        var url = "{% static '/codedemo/' %}" + $('#codetype').find("option:selected").text() + ".txt";
        var t = $('#codetype').val();
        $.get(url, { },
            function(data){
                editor.setOption("mode",t);
                editor.setValue(data);
        });
    }
    $('#codetype').change(changecode);
    changecode();
    debugging = false;
    setstatus();
    //添加监视变量
    $('#addvar').click(function(e){
        e.stopPropagation();
        var pk = $('#watchtable').find("tr").length 
        $('#watchtable>tbody').after('<tr><td><a href="#" id="var' + pk + '" data-type="text" data-pk="'+ pk + '" data-url="../debug/" data-title="输入变量名">var</a></td><td><a href="#" id="var' + pk + 'value" data-type="text" data-pk="v' + pk +'" data-url="../debug/" data-title="输入变量值"></a></td></tr>');
        $('#var'+ pk).editable({
            type: "text",
            url: '../debug/',
            type: 'text',
            name: 'setwatch',
            toggle:'manual',
            success: function(response, newValue) {
                if(response.result == true){
                $('#var' + pk +'value').text(response.pdbresult);
                }
            }
        });
        $('#var'+ pk).editable('toggle');
        $('#var'+ pk).click(function(e){
            e.stopPropagation();
            $('#var'+ pk).editable('toggle');
        })
    })
    //run代码
    $('#run').click(function(){
        $('#run').attr("disabled",true); 
        $('#submit').attr("disabled",true); 
        $.post("../running/", { codetype: $('#codetype').val(), 
                                stdin: $('#stdin').val() ,
                                code: editor.getValue(),
                                issue: $('#issue').text()},
            function(data){
                console.log(data);
                $('#run').attr("disabled",false); 
                $('#submit').attr("disabled",false); 
                $('#stdout').val(data['stdout']['outdata']);
                
                $('#runtime').text('运行时间:' + data['stdout']['runtime']+'秒');
            });
    });
    //提交代码
    $('#submit').click(function(){
        $('#run').attr("disabled",true); 
        $('#submit').attr("disabled",true); 
        $('#runtime').text('');
        $.post("../submit/", { codetype: $('#codetype').val(), 
                                stdin: $('#stdin').val() ,
                                code: editor.getValue(),
                                issue: $('#issue').text()},
            function(data){
            console.log(data);
            $('#run').attr("disabled",false); 
            $('#submit').attr("disabled",false); 
            $('#stdout').val(data['stdout']);
            });
    });
    //开始调试
    $('#debug').click(function(){
        $('#stdout').val('');
        $('#runtime').text('');
        $("#vartable tr").remove();
        $("#stacktable tr:not(:first)").remove();
        debugging=true;
        $.post("../debug/", { codetype: $('#codetype').val(), 
                                stdin: $('#stdin').val() ,
                                code: editor.getValue(),
                                action:'debug',
                                breaks:JSON.stringify(getbreaks())
                            },
            function(data){
            console.log(data);
            if( data['result'] == true){
                editor.setCursor(Number(data['pdbresult'])-1);
                setstatus();
            }else{
                debugging=false;
            }
            $('#stdout').val(data['appresult']);
            });
    });
    //停止调试
    $('#debugstop').click(function(){
        debugging=false;
        $.post("../debug/", { 
                            action:'stop'
                            },
        function(data){
        console.log(data);
        setstatus();
        });
    });
    //单步进入
    $('#debugdown').click(function(){
        $.post("../debug/", { 
                            action:'stepinto'
                            },
        function(data){
            console.log(data);
            if( data['result']  == true){
                old = $('#stdout').val();
                $('#stdout').val( old + data['appresult']);

                if(data['pdbresult'] == 'end'){
                    debugging=false;
                    editor.setCursor(0)
                    setstatus();
                }else{
                    editor.setCursor(Number(data['pdbresult'])-1);
                    showvars(data['localvars'])
                    showstacks(data['stacks'])
                }
            }
            });
    });
    //单步跳过
    $('#debugup').click(function(){
        $.post("../debug/", { 
                            action:'stepover'
                            },
        function(data){
            console.log(data);
            if( data['result'] == true){
                old = $('#stdout').val();
                $('#stdout').val( old + data['appresult']);
                
                if(data['pdbresult'] == 'end'){
                    debugging=false;
                    editor.setCursor(0)
                    setstatus();
                }else{
                    editor.setCursor(Number(data['pdbresult'])-1);
                    showvars(data['localvars'])
                    showstacks(data['stacks'])
                }
            }
        });
    });
    //继续
    $('#debugcontinue').click(function(){
        $.post("../debug/", { 
                            action:'continue'
                            },
        function(data){
            console.log(data);
            if( data['result'] == true){
                old = $('#stdout').val();
                $('#stdout').val( old + data['appresult']);
                
                if(data['pdbresult'] == 'end'){
                    debugging=false;
                    editor.setCursor(0);
                    setstatus();
                }else{
                    editor.setCursor(Number(data['pdbresult'])-1);
                    showvars(data['localvars']);
                    showstacks(data['stacks']);
                }
            }
        });
    });
    //添加断点
    function getbreaks(){
        var lines=[];
        linecount = editor.lineCount();
        for( i = 0 ;i<linecount;i++){
            var info = editor.lineInfo(i);
            if (info.gutterMarkers){
            lines.push(i+1);
            } 
        }
        return lines;
    }
    //显示变量
    function showvars(data){
        $("#vartable tr").remove();
        for(var key in data){
            $("#vartable>tbody").after('<tr><td>'+key +'：</td><td>'+data[key]+'</td></tr>');
        }
    }

    //显示堆栈
    function showstacks(data){
        //$("#stacktable tr:not(:first)").remove();
        //for(var item = data.length - 1 ; item >=0 ; item--){
        //    $("#stacktable tr:last").after('<tr><td>*'+ data[item]['line'] +'：</td><td>'+data[item]['function']+'</td></tr>');
        //}
    }
    //重置运行时间
    $('#reset').click(function(){
        $('#runtime').text('');
    })
</script>
{% endblock%}