{% extends 'base.html' %}
{% load static %}
{% block head %}

{% endblock%}
{% block banner%}
<!-- banner-->
<div class="page-header header-filter clear-filter" data-parallax="true"
  style="background-image: url({% static 'build/img/examples/office2.jpg' %});">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="brand">
          <h2>北京市科技协会第十界青少年编程大赛
          </h2>
          <h3 class="title">凡是年龄介于10--24周岁青少年均可报名，获得比赛前三名科报送清华大学。前十名每人奖金100万元。</h3>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}
{% block body %}
<div class="main main-raised">
    <!-- 竞赛-->
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">

            <div class="card card-background" style="background-image: url({% static 'build/img/examples/office1.jpg' %})">

              <div class="card-content">
                <h6 class="category text-info">热门竞赛</h6>
                <a href="../competitiondetail">
                  <h3 class="card-title">北京市科技协会第十界青少年编程大赛</h3>
                </a>
                <p class="card-description">
                  凡是年龄介于10--24周岁青少年均可报名，获得比赛前三名科报送清华大学。前十名每人奖金100万元。
                </p>
                <a href="../competitiondetail" class="btn btn-white btn-simple">
                  <i class="material-icons">subject</i> 查看详情
                </a>
                <a href="../competitiondetail" class="btn btn-white btn-simple">
                  <i class="material-icons">watch_later</i> 立即报名
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card-background"
              style="background-image: url({% static 'build/img/examples/card-blog3.jpg' %})">
              <div class="card-content">
                <h6 class="category text-info">热门竞赛</h6>
                <h3 class="card-title">Competition of Microsoft、Google、Facebook、Twitter</h3>
                <p class="card-description">
                  该竞赛由微软发起，获胜者可以直接获得微软工作机会，并未加入微软工作的程序员办理美国绿卡。
                </p>
                <a href="#pablo" class="btn btn-danger btn-round">
                  <i class="material-icons">subject</i> Read 查看详情
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">

            <div class="card card-background" style="background-image: url({% static 'build/img/examples/office2.jpg' %})">

              <div class="card-content">
                <h6 class="category text-info">热门竞赛</h6>
                <a href="#pablo">
                  <h3 class="card-title">北京市科技协会第十界青少年编程大赛</h3>
                </a>
                <p class="card-description">
                  凡是年龄介于10--24周岁青少年均可报名，获得比赛前三名科报送清华大学。前十名每人奖金100万元。
                </p>
                <a href="#pablo" class="btn btn-white btn-simple">
                  <i class="material-icons">subject</i> 查看详情
                </a>
                <a href="#pablo" class="btn btn-white btn-simple">
                  <i class="material-icons">watch_later</i> 立即报名
                </a>
              </div>
            </div>
          </div>
        </div>
                <div class="row">
          <div class="col-md-4">

            <div class="card card-background" style="background-image: url({% static 'build/img/examples/office1.jpg' %})">

              <div class="card-content">
                <h6 class="category text-info">热门竞赛</h6>
                <a href="#pablo">
                  <h3 class="card-title">北京市科技协会第十界青少年编程大赛</h3>
                </a>
                <p class="card-description">
                  凡是年龄介于10--24周岁青少年均可报名，获得比赛前三名科报送清华大学。前十名每人奖金100万元。
                </p>
                <a href="#pablo" class="btn btn-white btn-simple">
                  <i class="material-icons">subject</i> 查看详情
                </a>
                <a href="#pablo" class="btn btn-white btn-simple">
                  <i class="material-icons">watch_later</i> 立即报名
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-background"
              style="background-image: url({% static 'build/img/examples/card-blog3.jpg' %})">
              <div class="card-content">
                <h6 class="category text-info">热门竞赛</h6>
                <h3 class="card-title">Competition of Microsoft、Google、Facebook、Twitter</h3>
                <p class="card-description">
                  该竞赛由微软发起，获胜者可以直接获得微软工作机会，并未加入微软工作的程序员办理美国绿卡。
                </p>
                <a href="#pablo" class="btn btn-danger btn-round">
                  <i class="material-icons">subject</i> Read 查看详情
                </a>
              </div>
            </div>
          </div>
                    <div class="col-md-4">
            <div class="card card-background"
              style="background-image: url({% static 'build/img/examples/card-blog3.jpg' %})">
              <div class="card-content">
                <h6 class="category text-info">热门竞赛</h6>
                <h3 class="card-title">Competition of Microsoft、Google、Facebook、Twitter</h3>
                <p class="card-description">
                  该竞赛由微软发起，获胜者可以直接获得微软工作机会，并未加入微软工作的程序员办理美国绿卡。
                </p>
                <a href="#pablo" class="btn btn-danger btn-round">
                  <i class="material-icons">subject</i> Read 查看详情
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
{% endblock%}

{% block bottom %}

{% endblock%}