{% extends 'base.html' %}
{% load static %}
{% block head %}

{% endblock%}
{% block banner%}
<!-- banner-->
<div class="page-header header-filter clear-filter" data-parallax="true"
  style="background-image: url({% static 'build/img/bg0.jpg' %});">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="brand">
          <h1>梦想起飞的地方
            <div class="pro-badge">
              ++
            </div>
          </h1>

          <h3 class="title">已有2,019,100个程序员加入。贡献40,909,199,011行代码。获得800,019,100积分</h3>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock%}
{% block body %}
<div class="main main-raised">
    <!-- 导航-->
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-sm-2 ">
            <button class="MuiButtonBase-root-127 jss341" tabindex="0" type="button" style="width:100%">
              <div class="jss243" style="background-image:url({% static 'build/img/timg.jpg' %})"></div>
              <div class="jss244"></div>
              <div class="jss242">
                <h3 class="MuiTypography-root-57 jss245 MuiTypography-h6-67 MuiTypography-colorInherit-79">
                  能力测评
                  <div class="jss246"></div>
                </h3>
              </div>
              <span class="MuiTouchRipple-root-348"></span>
            </button>
          </div>
          <div class="col-sm-2 ">
            <button class="MuiButtonBase-root-127 jss341" tabindex="0" type="button" style="width:100%">
              <div class="jss243" style="background-image:url({% static 'build/img/timg2.jpg' %})"></div>
              <div class="jss244"></div>
              <div class="jss242">
                <h3 class="MuiTypography-root-57 jss245 MuiTypography-h6-67 MuiTypography-colorInherit-79">
                  算法学习
                  <div class="jss246"></div>
                </h3>
              </div>
              <span class="MuiTouchRipple-root-348"></span>
            </button>
          </div>
          <div class="col-sm-2 ">
            <button class="MuiButtonBase-root-127 jss341" tabindex="0" type="button" style="width:100%" onclick="window.location='./qlist'">
              <div class="jss243" style="background-image:url({% static 'build/img/timg3.jpg' %})"></div>
              <div class="jss244"></div>
              <div class="jss242">
                <h3 class="MuiTypography-root-57 jss245 MuiTypography-h6-67 MuiTypography-colorInherit-79">
                  成长之路
                  <div class="jss246"></div>
                </h3>
              </div>
              <span class="MuiTouchRipple-root-348"></span>
            </button>
          </div>
          <div class="col-sm-2 ">
            <button class="MuiButtonBase-root-127 jss341" tabindex="0" type="button" style="width:100%">
              <div class="jss243" style="background-image:url({% static 'build/img/faces/avatar.jpg' %})"></div>
              <div class="jss244"></div>
              <div class="jss242">
                <h3 class="MuiTypography-root-57 jss245 MuiTypography-h6-67 MuiTypography-colorInherit-79">
                  加入竞赛
                  <div class="jss246"></div>
                </h3>
              </div>
              <span class="MuiTouchRipple-root-348"></span>
            </button>
          </div>
          <div class="col-sm-2 ">
            <button class="MuiButtonBase-root-127 jss341" tabindex="0" type="button" style="width:100%">
              <div class="jss243" style="background-image:url({% static 'build/img/faces/avatar.jpg' %})"></div>
              <div class="jss244"></div>
              <div class="jss242">
                <h3 class="MuiTypography-root-57 jss245 MuiTypography-h6-67 MuiTypography-colorInherit-79">
                  面试刷题
                  <div class="jss246"></div>
                </h3>
              </div>
              <span class="MuiTouchRipple-root-348"></span>
            </button>
          </div>
          <div class="col-sm-2 ">
            <button class="MuiButtonBase-root-127 jss341" tabindex="0" type="button" style="width:100%">
              <div class="jss243" style="background-image:url({% static 'build/img/faces/avatar.jpg' %})"></div>
              <div class="jss244"></div>
              <div class="jss242">
                <h3 class="MuiTypography-root-57 jss245 MuiTypography-h6-67 MuiTypography-colorInherit-79">
                  加入我们
                  <div class="jss246"></div>
                </h3>
              </div>
              <span class="MuiTouchRipple-root-348"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- 基础学习-->
    <div class="section">
      <div class="container">
        <div id="nav-tabs">
          <div class="row">
            <div class="col-md-12">
              <h3>基础学习</h3>
              <!-- Tabs with icons on Card -->
              <div class="card card-nav-tabs">
                <div class="header header-primary">
                  <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="active">
                          <a href="#profile" data-toggle="tab">
                            <i class="material-icons">blur_on</i> 算法大全
                          </a>
                        </li>
                        <li>
                          <a href="#messages" data-toggle="tab">
                            <i class="material-icons">ac_unit</i> PYTHON
                          </a>
                        </li>
                        <li>
                          <a href="#settings" data-toggle="tab">
                            <i class="material-icons">spa</i> C/C++
                          </a>

                        </li>
                        <li>
                          <a href="#settings" data-toggle="tab">
                            <i class="material-icons">child_friendly</i> RUBY
                          </a>

                        </li>
                        <li>
                          <a href="#settings" data-toggle="tab">
                            <i class="material-icons">free_breakfast</i> NODE
                          </a>

                        </li>
                        <li>
                          <a href="#settings" data-toggle="tab">
                            <i class="material-icons">room_service</i> C#
                          </a>

                        </li>
                        <li>
                          <a href="#settings" data-toggle="tab">
                            <i class="material-icons">pages</i> GO
                          </a>

                        </li>
                        <li>
                          <a href="#settings" data-toggle="tab">
                            <i class="material-icons">public</i> SQL
                          </a>

                        </li>
                        <li>
                          <a href="#settings" data-toggle="tab">
                            <i class="material-icons">adb</i> PERL
                          </a>

                        </li>
                        <li>
                          <a href="#settings" data-toggle="tab">
                            <i class="material-icons">local_library</i> 更多
                          </a>

                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-content">
                  <div class="tab-content text-center">
                    <div class="tab-pane active" id="profile">
                      <p> I will be the leader of a company that ends up being worth billions of
                        dollars, because I got the answers. I understand culture. I am the
                        nucleus. I think that’s a responsibility that I have, to push
                        possibilities, to show people, this is the level that things could be
                        at. I think that’s a responsibility that I have, to push possibilities,
                        to show people, this is the level that things could be at. </p>
                    </div>
                    <div class="tab-pane" id="messages">
                      <p> I think that’s a responsibility that I have, to push possibilities, to
                        show people, this is the level that things could be at. I will be the
                        leader of a company that ends up being worth billions of dollars,
                        because I got the answers. I understand culture. I am the nucleus. I
                        think that’s a responsibility that I have, to push possibilities, to
                        show people, this is the level that things could be at.</p>
                    </div>
                    <div class="tab-pane" id="settings">
                      <p>I think that’s a responsibility that I have, to push possibilities, to
                        show people, this is the level that things could be at. So when you get
                        something that has the name Kanye West on it, it’s supposed to be
                        pushing the furthest possibilities. I will be the leader of a company
                        that ends up being worth billions of dollars, because I got the answers.
                        I understand culture. I am the nucleus.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Tabs with icons on Card -->

            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- 成长之路-->
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3>成长之路</h3>
          </div>
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-image">
                <a href="#pablo">
                  <img src="{% static 'build/img/examples/color1.jpg' %}" alt="" />
                  <div class="card-title">
                    <h6 class="category text-white">新手上路</h6>
                  </div>
                </a>
              </div>
              <div class="card-content">

                <h4 class="card-title text-center">
                  <a href="#pablo">梦想开始的地方，开启未来人生</a>
                </h4>
              </div>

            </div>
          </div>

          <div class="col-md-4">

            <div class="card card-blog">
              <div class="card-image">
                <a href="#pablo">
                  <img src="{% static 'build/img/examples/color2.jpg' %}" alt="" />
                  <div class="card-title">
                    <h6 class="category text-white">简单问题</h6>
                  </div>
                </a>
              </div>
              <div class="card-content">

                <h4 class="card-title text-center">
                  <a href="#pablo">循序渐进，逐步提高</a>
                </h4>
              </div>
            </div>

          </div>

          <div class="col-md-4">

            <div class="card card-blog">
              <div class="card-image">
                <a href="#pablo">
                  <img src="{% static 'build/img/examples/color3.jpg' %}" alt="" />
                  <div class="card-title">
                    <h6 class="category text-white">常见难题</h6>
                  </div>
                </a>
              </div>
              <div class="card-content">

                <h4 class="card-title text-center">
                  <a href="#pablo">准备出师，效力疆场</a>
                </h4>
              </div>
            </div>

          </div>

        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-image">
                <a href="#pablo">
                  <img src="{% static 'build/img/examples/card-project4.jpg' %}" alt="" />
                  <div class="card-title">
                    <h6 class="category text-white">难度提高</h6>
                  </div>
                </a>
              </div>
              <div class="card-content">

                <h4 class="card-title text-center">
                  <a href="#pablo">成为学霸、职场精英</a>
                </h4>
              </div>

            </div>
          </div>

          <div class="col-md-4">

            <div class="card card-blog">
              <div class="card-image">
                <a href="#pablo">
                  <img src="{% static 'build/img/examples/card-project5.jpg' %}" alt="" />
                  <div class="card-title">
                    <h6 class="category text-white">挑战自我</h6>
                  </div>
                </a>
              </div>
              <div class="card-content">
                <h4 class="card-title text-center">
                  <a href="#pablo">众人偶像、掷地有声</a>
                </h4>
              </div>
            </div>

          </div>

          <div class="col-md-4">

            <div class="card card-blog">
              <div class="card-image">
                <a href="#pablo">
                  <img src="{% static 'build/img/examples/card-project6.jpg' %}" alt="" />
                  <div class="card-title">
                    <h6 class="category text-white">成为大神</h6>
                  </div>
                </a>
              </div>
              <div class="card-content">
                <h4 class="card-title text-center">
                  <a href="#pablo">那是一个传说……</a>
                </h4>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
    <!-- 竞赛-->
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">

            <div class="card card-background" style="background-image: url({% static 'build/img/examples/office1.jpg' %})">

              <div class="card-content">
                <h6 class="category text-info">热门竞赛</h6>
                <a href="#pablo">
                  <h3 class="card-title">北京市科技协会第十界青少年编程大赛</h3>
                </a>
                <p class="card-description">
                  凡是年龄介于10--24周岁青少年均可报名，获得比赛前三名科报送清华大学。前十名每人奖金100万元。
                </p>
                <a href="#pablo" class="btn btn-white btn-simple">
                  <i class="material-icons">subject</i> 查看详情
                </a>
                <a href="#pablo" class="btn btn-white btn-simple">
                  <i class="material-icons">watch_later</i> 立即报名
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card card-background"
              style="background-image: url({% static 'build/img/examples/card-blog3.jpg' %})">
              <div class="card-content">
                <h6 class="category text-info">热门竞赛</h6>
                <h3 class="card-title">Competition of Microsoft、Google、Facebook、Twitter</h3>
                <p class="card-description">
                  该竞赛由微软发起，获胜者可以直接获得微软工作机会，并未加入微软工作的程序员办理美国绿卡。
                </p>
                <a href="#pablo" class="btn btn-danger btn-round">
                  <i class="material-icons">subject</i> Read 查看详情
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">

            <div class="card card-background" style="background-image: url({% static 'build/img/examples/office1.jpg' %})">

              <div class="card-content">
                <h6 class="category text-info">热门竞赛</h6>
                <a href="#pablo">
                  <h3 class="card-title">北京市科技协会第十界青少年编程大赛</h3>
                </a>
                <p class="card-description">
                  凡是年龄介于10--24周岁青少年均可报名，获得比赛前三名科报送清华大学。前十名每人奖金100万元。
                </p>
                <a href="#pablo" class="btn btn-white btn-simple">
                  <i class="material-icons">subject</i> 查看详情
                </a>
                <a href="#pablo" class="btn btn-white btn-simple">
                  <i class="material-icons">watch_later</i> 立即报名
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 在线刷题-->
    <div class="section">
      <div class="container">
        <div id="nav-tabs">
          <div class="row">
            <div class="col-md-12">
              <h3>在线刷题</h3>
              <!-- Tabs with icons on Card -->
              <div class="card card-nav-tabs">
                <div class="header header-success">
                  <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="active">
                          <a href="#profile" data-toggle="tab">
                            <i class="material-icons">blur_on</i> 算法大全
                          </a>
                        </li>
                        <li>
                          <a href="#messages" data-toggle="tab">
                            <i class="material-icons">ac_unit</i> PYTHON
                          </a>
                        </li>
                        <li>
                          <a href="#settings" data-toggle="tab">
                            <i class="material-icons">spa</i> C/C++
                          </a>

                        </li>
                        <li>
                          <a href="#settings" data-toggle="tab">
                            <i class="material-icons">child_friendly</i> RUBY
                          </a>

                        </li>
                        <li>
                          <a href="#settings" data-toggle="tab">
                            <i class="material-icons">free_breakfast</i> NODE
                          </a>

                        </li>
                        <li>
                          <a href="#settings" data-toggle="tab">
                            <i class="material-icons">room_service</i> C#
                          </a>

                        </li>
                        <li>
                          <a href="#settings" data-toggle="tab">
                            <i class="material-icons">pages</i> GO
                          </a>

                        </li>
                        <li>
                          <a href="#settings" data-toggle="tab">
                            <i class="material-icons">public</i> SQL
                          </a>

                        </li>
                        <li>
                          <a href="#settings" data-toggle="tab">
                            <i class="material-icons">adb</i> PERL
                          </a>

                        </li>
                        <li>
                          <a href="#settings" data-toggle="tab">
                            <i class="material-icons">local_library</i> 更多
                          </a>

                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-content">
                  <div class="tab-content text-center">
                    <div class="tab-pane active" id="profile">
                      <p> I will be the leader of a company that ends up being worth billions of
                        dollars, because I got the answers. I understand culture. I am the
                        nucleus. I think that’s a responsibility that I have, to push
                        possibilities, to show people, this is the level that things could be
                        at. I think that’s a responsibility that I have, to push possibilities,
                        to show people, this is the level that things could be at. </p>
                    </div>
                    <div class="tab-pane" id="messages">
                      <p> I think that’s a responsibility that I have, to push possibilities, to
                        show people, this is the level that things could be at. I will be the
                        leader of a company that ends up being worth billions of dollars,
                        because I got the answers. I understand culture. I am the nucleus. I
                        think that’s a responsibility that I have, to push possibilities, to
                        show people, this is the level that things could be at.</p>
                    </div>
                    <div class="tab-pane" id="settings">
                      <p>I think that’s a responsibility that I have, to push possibilities, to
                        show people, this is the level that things could be at. So when you get
                        something that has the name Kanye West on it, it’s supposed to be
                        pushing the furthest possibilities. I will be the leader of a company
                        that ends up being worth billions of dollars, because I got the answers.
                        I understand culture. I am the nucleus.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Tabs with icons on Card -->

            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- 团队-->
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h2 class="title">Our Team</h2>

          </div>
        </div>

        <div class="row">

          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="col-md-5">
                <div class="card-image">
                  <a href="#pablo">
                    <img class="img" src="{% static 'build/img/faces/card-profile1-square.jpg' %}">
                  </a>
                  <div class="colored-shadow"
                    style="background-image: url({% static 'build/img/faces/card-profile1-square.jpg' %}'); opacity: 1;">
                  </div>
                </div>
              </div>
              <div class="col-md-7">
                <div class="card-content">
                  <h4 class="card-title">Michael Hao</h4>
                  <h6 class="category text-muted">Founder</h6>

                  <div class="footer">
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i
                        class="fa fa-facebook-square"></i></a>
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="col-md-5">
                <div class="card-image">
                  <a href="#pablo">
                    <img class="img" src="{% static 'build/img/faces/card-profile6-square.jpg' %}">
                  </a>
                  <div class="colored-shadow"
                    style="background-image: url({% static 'build/img/faces/card-profile6-square.jpg' %}); opacity: 1;">
                  </div>
                </div>
              </div>
              <div class="col-md-7">
                <div class="card-content">
                  <h4 class="card-title">Kendall Andrew</h4>
                  <h6 class="category text-muted">Graphic Designer</h6>

                  <div class="footer">
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-linkedin"><i class="fa fa-linkedin"></i></a>
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i
                        class="fa fa-facebook-square"></i></a>
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="col-md-5">
                <div class="card-image">
                  <a href="#pablo">
                    <img class="img" src="{% static 'build/img/faces/card-profile4-square.jpg' %}">
                  </a>
                  <div class="colored-shadow"
                    style="background-image: url({% static 'build/img/faces/card-profile4-square.jpg' %}'); opacity: 1;">
                  </div>
                </div>
              </div>
              <div class="col-md-7">
                <div class="card-content">
                  <h4 class="card-title">Gina Andrew</h4>
                  <h6 class="category text-muted">Web Designer</h6>

                  <div class="footer">
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-youtube"><i class="fa fa-youtube-play"></i></a>
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-instagram"><i class="fa fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="col-md-5">
                <div class="card-image">
                  <a href="#pablo">
                    <img class="img" src="{% static 'build/img/faces/card-profile2-square.jpg' %}">
                  </a>
                  <div class="colored-shadow"
                    style="background-image: url({% static 'build/img/faces/card-profile2-square.jpg' %}'); opacity: 1;">
                  </div>
                </div>
              </div>
              <div class="col-md-7">
                <div class="card-content">
                  <h4 class="card-title">George West</h4>
                  <h6 class="category text-muted">Backend Hacker</h6>

                  <div class="footer">
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-linkedin"><i class="fa fa-linkedin"></i></a>
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i
                        class="fa fa-facebook-square"></i></a>
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="col-md-5">
                <div class="card-image">
                  <a href="#pablo">
                    <img class="img" src="{% static 'build/img/faces/card-profile1-square.jpg' %}">
                  </a>
                  <div class="colored-shadow"
                    style="background-image: url({% static 'build/img/faces/card-profile1-square.jpg' %}); opacity: 1;">
                  </div>
                </div>
              </div>
              <div class="col-md-7">
                <div class="card-content">
                  <h4 class="card-title">Michael Hao</h4>
                  <h6 class="category text-muted">Founder</h6>

                  <div class="footer">
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i
                        class="fa fa-facebook-square"></i></a>
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="col-md-5">
                <div class="card-image">
                  <a href="#pablo">
                    <img class="img" src="{% static 'build/img/faces/card-profile6-square.jpg' %}">
                  </a>
                  <div class="colored-shadow"
                    style="background-image: url({% static 'build/img/faces/card-profile6-square.jpg' %}); opacity: 1;">
                  </div>
                </div>
              </div>
              <div class="col-md-7">
                <div class="card-content">
                  <h4 class="card-title">Kendall Andrew</h4>
                  <h6 class="category text-muted">Graphic Designer</h6>

                  <div class="footer">
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-linkedin"><i class="fa fa-linkedin"></i></a>
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i
                        class="fa fa-facebook-square"></i></a>
                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble"><i class="fa fa-dribbble"></i></a>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 ">
            <div class="text-center">
              <h2 class="title">Join Us</h2>
            </div>

            <div class="card card-raised card-form-horizontal">
              <div class="card-content">
                <form method="" action="">
                  <div class="row">
                    <div class="col-sm-8">

                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="material-icons">mail</i>
                        </span>
                        <input type="email" value="" placeholder="Your Email..." class="form-control">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <button type="button" class="btn btn-primary btn-block">立即加入</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
</div>
{% endblock%}

{% block bottom %}

{% endblock%}