<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="build/img/apple-icon.png">
  <link rel="icon" type="image/png" href="build/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Home
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <link rel="stylesheet" type="text/css" href="build/css/css.css" />
  <link rel="stylesheet" href="build/css/font-awesome.min.css">
  <link href="build/css/material-kit.css?v=2.0.5" rel="stylesheet" />
  <link href="build/css/demo.css" rel="stylesheet" />
</head>

<body class="index-page sidebar-collapse">
  <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="#">
          Home of Programmer </a>

      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <i class="material-icons">apps</i> 基础学习
            </a>
            <div class="dropdown-menu dropdown-with-icons">
              <a href="./index.html" class="dropdown-item">
                <i class="material-icons">layers</i> 算法学习
              </a>
              <a href="#" class="dropdown-item">
                <i class="material-icons">content_paste</i> 语言手册
              </a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="#" target="_blank" data-original-title="50种语言在线编码、运行">
              <i class="material-icons">launch</i> 在线编码
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="#" target="_blank" data-original-title="不停练习，追求卓越">
              <i class="fa fa-twitter"></i>成长之路
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="#" target="_blank" data-original-title="捍卫荣誉，冲击桂冠">
              <i class="material-icons">build</i>参加竞赛
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="#" target="_blank" data-original-title="名企题库，临阵磨枪">
              <i class="material-icons">table_chart</i>面试刷题
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="page-header header-filter clear-filter purple-filter" data-parallax="true" style="background-image: url('build/img/bg2.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12">
          <div class="brand">
            <h1>程序员终生伴侣</h1><br/><br/><br/><br/>
            <h3>已有2,019,100个程序员加入。贡献40,909,199,011行代码。获得800,019,100积分</h3>
          </div>      
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 ">
                    <button class="MuiButtonBase-root-127 jss341" tabindex="0" type="button" style="width:100%">
                      <div class="jss243" style="background-image:url(build/img/timg.jpg)"></div>
                      <div class="jss244"></div>
                      <div class="jss242">
                          <h3 class="MuiTypography-root-57 jss245 MuiTypography-h6-67 MuiTypography-colorInherit-79">
                              能力测评
                              <div class="jss246"></div>
                          </h3>
                      </div>
                      <span class="MuiTouchRipple-root-348"></span>
                  </button>
                </div>
                <div class="col-sm-2 ">
                   <button class="MuiButtonBase-root-127 jss341" tabindex="0" type="button" style="width:100%">
                      <div class="jss243" style="background-image:url(build/img/timg2.jpg)"></div>
                      <div class="jss244"></div>
                      <div class="jss242">
                          <h3 class="MuiTypography-root-57 jss245 MuiTypography-h6-67 MuiTypography-colorInherit-79">
                              算法学习
                              <div class="jss246"></div>
                          </h3>
                      </div>
                      <span class="MuiTouchRipple-root-348"></span>
                  </button>                
                </div>
                <div class="col-sm-2 ">
                    <button class="MuiButtonBase-root-127 jss341" tabindex="0" type="button" style="width:100%">
                      <div class="jss243" style="background-image:url(build/img/timg3.jpg)"></div>
                      <div class="jss244"></div>
                      <div class="jss242">
                          <h3 class="MuiTypography-root-57 jss245 MuiTypography-h6-67 MuiTypography-colorInherit-79">
                              成长之路
                              <div class="jss246"></div>
                          </h3>
                      </div>
                      <span class="MuiTouchRipple-root-348"></span>
                  </button> 
                </div>
                <div class="col-sm-2 ">
                    <button class="MuiButtonBase-root-127 jss341" tabindex="0" type="button" style="width:100%">
                      <div class="jss243" style="background-image:url(build/img/faces/avatar.jpg)"></div>
                      <div class="jss244"></div>
                      <div class="jss242">
                          <h3 class="MuiTypography-root-57 jss245 MuiTypography-h6-67 MuiTypography-colorInherit-79">
                              加入竞赛
                              <div class="jss246"></div>
                          </h3>
                      </div>
                      <span class="MuiTouchRipple-root-348"></span>
                  </button>
                </div>
                <div class="col-sm-2 ">
                    <button class="MuiButtonBase-root-127 jss341" tabindex="0" type="button" style="width:100%">
                      <div class="jss243" style="background-image:url(build/img/faces/avatar.jpg)"></div>
                      <div class="jss244"></div>
                      <div class="jss242">
                          <h3 class="MuiTypography-root-57 jss245 MuiTypography-h6-67 MuiTypography-colorInherit-79">
                              面试刷题
                              <div class="jss246"></div>
                          </h3>
                      </div>
                      <span class="MuiTouchRipple-root-348"></span>
                  </button>
                </div>
                <div class="col-sm-2 ">
                   <button class="MuiButtonBase-root-127 jss341" tabindex="0" type="button" style="width:100%">
                      <div class="jss243" style="background-image:url(build/img/faces/avatar.jpg)"></div>
                      <div class="jss244"></div>
                      <div class="jss242">
                          <h3 class="MuiTypography-root-57 jss245 MuiTypography-h6-67 MuiTypography-colorInherit-79">
                              加入我们  
                              <div class="jss246"></div>
                          </h3>
                      </div>
                      <span class="MuiTouchRipple-root-348"></span>
                  </button>
                </div>
            </div>
        </div>
    </div> 
    <div class="section ">
      <div class="container">
        <!--                nav tabs	             -->
        <div id="nav-tabs">
          <h3>基础学习</h3>
          <div class="row">
            <div class="col-md-12">
              <div class="card card-nav-tabs">
                <div class="card-header card-header-primary">
                  <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                          <a class="nav-link active" href="#profile" data-toggle="tab">
                            <i class="material-icons">blur_on</i> 算法大全
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#messages" data-toggle="tab">
                            <i class="material-icons">ac_unit</i> PYTHON
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#settings" data-toggle="tab">
                            <i class="material-icons">spa</i> C/C++
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#settings" data-toggle="tab">
                            <i class="material-icons">child_friendly</i> RUBY
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#settings" data-toggle="tab">
                            <i class="material-icons">free_breakfast</i> NODE
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#settings" data-toggle="tab">
                            <i class="material-icons">room_service</i> C#
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#settings" data-toggle="tab">
                            <i class="material-icons">pages</i> GO
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#settings" data-toggle="tab">
                            <i class="material-icons">public</i> SQL
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#settings" data-toggle="tab">
                            <i class="material-icons">adb</i> PERL
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#settings" data-toggle="tab">
                            <i class="material-icons">local_library</i> 更多
                          </a>
                        </li>

                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-body ">
                  <div class="tab-content text-center">
                    <div class="tab-pane active" id="profile">
                      <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that&#x2019;s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that&#x2019;s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
                    </div>
                    <div class="tab-pane" id="messages">
                      <p> I think that&#x2019;s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that&#x2019;s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
                    </div>
                    <div class="tab-pane" id="settings">
                      <p>I think that&#x2019;s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it&#x2019;s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Tabs with icons on Card -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section  ">
      <div class="container">
        <div id="nav-tabs">
          <h3>成长之路</h3>
          <div class="row">
            <div class="col-md-12">
              <!-- Tabs with icons on Card -->
              <div class="card card-nav-tabs">
                <div class="card-header card-header-success">
                  <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                          <a class="nav-link active" href="#profile" data-toggle="tab">
                            <i class="material-icons">face</i> 入门
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#messages" data-toggle="tab">
                            <i class="material-icons">chat</i> 简单
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#settings" data-toggle="tab">
                            <i class="material-icons">build</i> 普通
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#settings" data-toggle="tab">
                            <i class="material-icons">build</i> 困难
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#settings" data-toggle="tab">
                            <i class="material-icons">build</i> 挑战
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#settings" data-toggle="tab">
                            <i class="material-icons">build</i> 极限
                          </a>
                        </li>
                        
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-body ">
                  <div class="tab-content text-center">
                    <div class="tab-pane active" id="profile">
                      <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that&#x2019;s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that&#x2019;s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
                    </div>
                    <div class="tab-pane" id="messages">
                      <p> I think that&#x2019;s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that&#x2019;s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
                    </div>
                    <div class="tab-pane" id="settings">
                      <p>I think that&#x2019;s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it&#x2019;s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Tabs with icons on Card -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="jss240">
                <button class="MuiButtonBase-root-127 jss241" tabindex="0" type="button" style="width:40%">
                    <div class="jss243" style="background-image:url(build/img/faces/camp.jpg)"></div>
                    <div class="jss244"></div>
                    <div class="jss242">
                        <h3 class="MuiTypography-root-57 jss245 MuiTypography-h6-67 MuiTypography-colorInherit-79">
                            鼓励师
                            <div class="jss246"></div>
                        </h3>
                    </div>
                    <span class="MuiTouchRipple-root-348"></span>
                </button>
                <button class="MuiButtonBase-root-127 jss241" tabindex="0" type="button" style="width:20%">
                    <div class="jss243" style="background-image:url(build/img/faces/avatar.jpg)"></div>
                    <div class="jss244"></div>
                    <div class="jss242">
                        <h3 class="MuiTypography-root-57 jss245 MuiTypography-h6-67 MuiTypography-colorInherit-79">
                            Massage
                            <div class="jss246"></div>
                        </h3>
                    </div>
                    <span class="MuiTouchRipple-root-348"></span>
                </button>
                <button class="MuiButtonBase-root-127 jss241" tabindex="0" type="button" style="width:40%">
                    <div class="jss243" style="background-image:url(build/img/faces/marc.jpg)"></div>
                    <div class="jss244"></div>
                    <div class="jss242">
                        <h3 class="MuiTypography-root-57 jss245 MuiTypography-h6-67 MuiTypography-colorInherit-79">
                            Hiking
                            <div class="jss246"></div>
                        </h3>
                    </div>
                    <span class="MuiTouchRipple-root-348"></span>
                </button>
                <button class="MuiButtonBase-root-127 jss241" tabindex="0" type="button" style="width:38%">
                    <div class="jss243" style="background-image:url(build/img/faces/christian.jpg)"></div>
                    <div class="jss244"></div>
                    <div class="jss242">
                        <h3 class="MuiTypography-root-57 jss245 MuiTypography-h6-67 MuiTypography-colorInherit-79">
                            Snorkeling
                            <div class="jss246"></div>
                        </h3>
                    </div>
                    <span class="MuiTouchRipple-root-348"></span>
                </button>
                <button class="MuiButtonBase-root-127 jss241" tabindex="0" type="button" style="width:38%">
                    <div class="jss243" style="background-image:url(build/img/faces/card-profile2-square.jpg)"></div>
                    <div class="jss244"></div>
                    <div class="jss242">
                        <h3 class="MuiTypography-root-57 jss245 MuiTypography-h6-67 MuiTypography-colorInherit-79">
                            Massage
                            <div class="jss246"></div>
                        </h3>
                    </div>
                    <span class="MuiTouchRipple-root-348"></span>
                </button>
                <button class="MuiButtonBase-root-127 jss241" tabindex="0" type="button" style="width:24%">
                    <div class="jss243" style="background-image:url(build/img/faces/kendall.jpg)"></div>
                    <div class="jss244"></div>
                    <div class="jss242">
                        <h3 class="MuiTypography-root-57 jss245 MuiTypography-h6-67 MuiTypography-colorInherit-79">
                            Hiking
                            <div class="jss246"></div>
                        </h3>
                    </div>
                    <span class="MuiTouchRipple-root-348"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="section  ">
      <div class="container">
        <!--                nav tabs	             -->
        <div id="nav-tabs">
          <h3>面试刷题</h3>
          <div class="row">
            <div class="col-md-12">
              <!-- Tabs with icons on Card -->
              <div class="card card-nav-tabs">
                <div class="card-header card-header-info">
                  <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                          <a class="nav-link active" href="#profile" data-toggle="tab">
                            <i class="material-icons">face</i> JAVA
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#messages" data-toggle="tab">
                            <i class="material-icons">chat</i> PYTHON
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#settings" data-toggle="tab">
                            <i class="material-icons">build</i> C/C++
                          </a>
                        </li>

                        <li class="nav-item">
                          <a class="nav-link" href="#settings" data-toggle="tab">
                            <i class="material-icons">build</i> NODE
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#settings" data-toggle="tab">
                            <i class="material-icons">build</i> C#
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#settings" data-toggle="tab">
                            <i class="material-icons">build</i> GO
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#settings" data-toggle="tab">
                            <i class="material-icons">build</i> SQL
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#settings" data-toggle="tab">
                            <i class="material-icons">build</i> PERL
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#settings" data-toggle="tab">
                            <i class="material-icons">build</i> PHP
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#settings" data-toggle="tab">
                            <i class="material-icons">build</i> ERLANG
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-body ">
                  <div class="tab-content text-center">
                    <div class="tab-pane active" id="profile">
                      <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that&#x2019;s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that&#x2019;s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
                    </div>
                    <div class="tab-pane" id="messages">
                      <p> I think that&#x2019;s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that&#x2019;s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
                    </div>
                    <div class="tab-pane" id="settings">
                      <p>I think that&#x2019;s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it&#x2019;s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Tabs with icons on Card -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section  ">
      <div class="container">
        <!--                nav tabs	             -->
        <div id="nav-tabs">
          <h3>加入开源</h3>
          <div class="row">
            <div class="col-md-12">
              <!-- Tabs with icons on Card -->
              <div class="card card-nav-tabs">
                <div class="card-header card-header-danger">
                  <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                          <a class="nav-link active" href="#profile" data-toggle="tab">
                            <i class="material-icons">face</i> JAVA
                          </a>
                        </li>

                        <li class="nav-item">
                          <a class="nav-link" href="#settings" data-toggle="tab">
                            <i class="material-icons">build</i> C/C++
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#settings" data-toggle="tab">
                            <i class="material-icons">build</i> RUBY
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#settings" data-toggle="tab">
                            <i class="material-icons">build</i> NODE
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#settings" data-toggle="tab">
                            <i class="material-icons">build</i> C#
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#settings" data-toggle="tab">
                            <i class="material-icons">build</i> GO
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#settings" data-toggle="tab">
                            <i class="material-icons">build</i> SQL
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#settings" data-toggle="tab">
                            <i class="material-icons">build</i> PERL
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#settings" data-toggle="tab">
                            <i class="material-icons">build</i> PHP
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#settings" data-toggle="tab">
                            <i class="material-icons">build</i> ERLANG
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-body ">
                  <div class="tab-content text-center">
                    <div class="tab-pane active" id="profile">
                      <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that&#x2019;s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that&#x2019;s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
                    </div>
                    <div class="tab-pane" id="messages">
                      <p> I think that&#x2019;s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that&#x2019;s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at.</p>
                    </div>
                    <div class="tab-pane" id="settings">
                      <p>I think that&#x2019;s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it&#x2019;s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Tabs with icons on Card -->
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>


  <footer class="footer footer-black footer-big">
              <div class="container">

                <div class="content">
                  <div class="row">
                    <div class="col-md-4">
                      <h5>About Us</h5>
                      <p>Creative Tim is a startup that creates design tools that make the web development process faster and easier. </p> <p>We love the web and care deeply for how users interact with a digital product. We power businesses and individuals to create better looking web projects around the world. </p>
                    </div>

                    <div class="col-md-4">
                      <h5>Social Feed</h5>
                      <div class="social-feed">
                        <div class="feed-line">
                          <i class="fa fa-twitter"></i>
                          <p>How to handle ethical disagreements with your clients.</p>
                        </div>
                        <div class="feed-line">
                          <i class="fa fa-twitter"></i>
                          <p>The tangible benefits of designing at 1x pixel density.</p>
                        </div>
                        <div class="feed-line">
                          <i class="fa fa-facebook-square"></i>
                          <p>A collection of 25 stunning sites that you can use for inspiration.</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-4">
                      <h5>Instagram Feed</h5>
                      <div class="gallery-feed">
                        <img src="build/img/faces/card-profile6-square.jpg" class="img img-raised rounded" alt="">
                        <img src="build/img/faces/christian.jpg" class="img img-raised rounded" alt="">
                        <img src="build/img/faces/card-profile4-square.jpg" class="img img-raised rounded" alt="">
                        <img src="build/img/faces/card-profile1-square.jpg" class="img img-raised rounded" alt="">

                        <img src="build/img/faces/marc.jpg" class="img img-raised rounded" alt="">
                        <img src="build/img/faces/kendall.jpg" class="img img-raised rounded" alt="">
                        <img src="build/img/faces/card-profile5-square.jpg" class="img img-raised rounded" alt="">
                        <img src="build/img/faces/card-profile2-square.jpg" class="img img-raised rounded" alt="">
                      </div>

                    </div>
                  </div>
                </div>


                <hr>

                <ul class="pull-left">
                  <li>
                    <a href="#pablo">
                      Blog
                    </a>
                  </li>
                  <li>
                    <a href="#pablo">
                      Presentation
                    </a>
                  </li>
                  <li>
                    <a href="#pablo">
                      Discover
                    </a>
                  </li>
                  <li>
                    <a href="#pablo">
                      Payment
                    </a>
                  </li>
                  <li>
                    <a href="#pablo">
                      Contact Us
                    </a>
                  </li>
                </ul>

                <div class="copyright pull-right">
                  Copyright © <script>document.write(new Date().getFullYear())</script>2019 Creative Tim All Rights Reserved.
                </div>
              </div>
  </footer>
  <!--   Core JS Files   -->
  <script src="build/js/jquery.min.js" type="text/javascript"></script>
  <script src="build/js/popper.min.js" type="text/javascript"></script>
  <script src="build/js/bootstrap-material-design.min.js" type="text/javascript"></script>

  <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
  <script src="build/js/material-kit.js?v=2.0.5" type="text/javascript"></script>
  <script>



    function scrollToDownload() {
      if ($('.section-download').length != 0) {
        $("html, body").animate({
          scrollTop: $('.section-download').offset().top
        }, 1000);
      }
    }

  </script>
</body>

</html>
