<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="build/img/apple-icon.png">
	<link rel="icon" type="image/png" href="build/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Home</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<!--     Fonts and icons     -->
	<link rel="stylesheet" type="text/css" href="build/css/css.css" />
	<link rel="stylesheet" href="build/css/font-awesome.min.css" />

	<!-- CSS Files -->
	<link href="build/css/bootstrap.min.css" rel="stylesheet" />
	<link href="build/css/material-kit.css?v=1.2.1" rel="stylesheet" />

	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link href="build/css/vertical-nav.css" rel="stylesheet" />
	<link href="build/css/demo.css" rel="stylesheet" />

</head>

<body class="index-page">
	<!-- 菜单-->
	<nav class="navbar navbar-default navbar-transparent navbar-fixed-top navbar-color-on-scroll" color-on-scroll=" "
		id="sectionsNav">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="presentation.html">Home of Programmers</a>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="material-icons">apps</i> 基础学习
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu dropdown-with-icons">
							<li>
								<a href="sections.html#headers">
									<i class="material-icons">dns</i> 教学课程
								</a>
							</li>
							<li>
								<a href="sections.html#features">
									<i class="material-icons">build</i> 算法学习
								</a>
							</li>

						</ul>
					</li>

					<li>
						<a href="#">
							<i class="material-icons">view_day</i> 在线编码
						</a>

					</li>

					<li>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="material-icons">view_carousel</i> 成长之路

						</a>

					</li>
					<li>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="material-icons">view_carousel</i> 参加竞赛

						</a>

					</li>
					<li>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="material-icons">view_carousel</i> 面试刷题

						</a>

					</li>
					<li class="button-container">
						<a href="#" target="_blank" class="btn btn-warning btn-round">
							<i class="material-icons">shopping_cart</i> 登录/注册
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- banner-->
	<div class="page-header header-filter clear-filter" data-parallax="true"
		style="background-image: url('build/img/bg0.jpg');">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="brand">
						<h1>程序员终生伴侣
							<div class="pro-badge">
								++
							</div>
						</h1>

						<h3 class="title">已有2,019,100个程序员加入。贡献40,909,199,011行代码。获得800,019,100积分</h3>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="main main-raised">
		<!-- 导航-->
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-sm-2 ">
						<button class="MuiButtonBase-root-127 jss341" tabindex="0" type="button" style="width:100%">
							<div class="jss243" style="background-image:url(build/img/timg.jpg)"></div>
							<div class="jss244"></div>
							<div class="jss242">
								<h3
									class="MuiTypography-root-57 jss245 MuiTypography-h6-67 MuiTypography-colorInherit-79">
									能力测评
									<div class="jss246"></div>
								</h3>
							</div>
							<span class="MuiTouchRipple-root-348"></span>
						</button>
					</div>
					<div class="col-sm-2 ">
						<button class="MuiButtonBase-root-127 jss341" tabindex="0" type="button" style="width:100%">
							<div class="jss243" style="background-image:url(build/img/timg2.jpg)"></div>
							<div class="jss244"></div>
							<div class="jss242">
								<h3
									class="MuiTypography-root-57 jss245 MuiTypography-h6-67 MuiTypography-colorInherit-79">
									算法学习
									<div class="jss246"></div>
								</h3>
							</div>
							<span class="MuiTouchRipple-root-348"></span>
						</button>
					</div>
					<div class="col-sm-2 ">
						<button class="MuiButtonBase-root-127 jss341" tabindex="0" type="button" style="width:100%">
							<div class="jss243" style="background-image:url(build/img/timg3.jpg)"></div>
							<div class="jss244"></div>
							<div class="jss242">
								<h3
									class="MuiTypography-root-57 jss245 MuiTypography-h6-67 MuiTypography-colorInherit-79">
									成长之路
									<div class="jss246"></div>
								</h3>
							</div>
							<span class="MuiTouchRipple-root-348"></span>
						</button>
					</div>
					<div class="col-sm-2 ">
						<button class="MuiButtonBase-root-127 jss341" tabindex="0" type="button" style="width:100%">
							<div class="jss243" style="background-image:url(build/img/faces/avatar.jpg)"></div>
							<div class="jss244"></div>
							<div class="jss242">
								<h3
									class="MuiTypography-root-57 jss245 MuiTypography-h6-67 MuiTypography-colorInherit-79">
									加入竞赛
									<div class="jss246"></div>
								</h3>
							</div>
							<span class="MuiTouchRipple-root-348"></span>
						</button>
					</div>
					<div class="col-sm-2 ">
						<button class="MuiButtonBase-root-127 jss341" tabindex="0" type="button" style="width:100%">
							<div class="jss243" style="background-image:url(build/img/faces/avatar.jpg)"></div>
							<div class="jss244"></div>
							<div class="jss242">
								<h3
									class="MuiTypography-root-57 jss245 MuiTypography-h6-67 MuiTypography-colorInherit-79">
									面试刷题
									<div class="jss246"></div>
								</h3>
							</div>
							<span class="MuiTouchRipple-root-348"></span>
						</button>
					</div>
					<div class="col-sm-2 ">
						<button class="MuiButtonBase-root-127 jss341" tabindex="0" type="button" style="width:100%">
							<div class="jss243" style="background-image:url(build/img/faces/avatar.jpg)"></div>
							<div class="jss244"></div>
							<div class="jss242">
								<h3
									class="MuiTypography-root-57 jss245 MuiTypography-h6-67 MuiTypography-colorInherit-79">
									加入我们
									<div class="jss246"></div>
								</h3>
							</div>
							<span class="MuiTouchRipple-root-348"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 基础学习-->
		<div class="section">
			<div class="container">
				<div id="nav-tabs">
					<div class="row">
						<div class="col-md-12">
							<h3>基础学习</h3>
							<!-- Tabs with icons on Card -->
							<div class="card card-nav-tabs">
								<div class="header header-primary">
									<!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
									<div class="nav-tabs-navigation">
										<div class="nav-tabs-wrapper">
											<ul class="nav nav-tabs" data-tabs="tabs">
												<li class="active">
													<a href="#profile" data-toggle="tab">
														<i class="material-icons">blur_on</i> 算法大全
													</a>
												</li>
												<li>
													<a href="#messages" data-toggle="tab">
														<i class="material-icons">ac_unit</i> PYTHON
													</a>
												</li>
												<li>
													<a href="#settings" data-toggle="tab">
														<i class="material-icons">spa</i> C/C++
													</a>

												</li>
												<li>
													<a href="#settings" data-toggle="tab">
														<i class="material-icons">child_friendly</i> RUBY
													</a>

												</li>
												<li>
													<a href="#settings" data-toggle="tab">
														<i class="material-icons">free_breakfast</i> NODE
													</a>

												</li>
												<li>
													<a href="#settings" data-toggle="tab">
														<i class="material-icons">room_service</i> C#
													</a>

												</li>
												<li>
													<a href="#settings" data-toggle="tab">
														<i class="material-icons">pages</i> GO
													</a>

												</li>
												<li>
													<a href="#settings" data-toggle="tab">
														<i class="material-icons">public</i> SQL
													</a>

												</li>
												<li>
													<a href="#settings" data-toggle="tab">
														<i class="material-icons">adb</i> PERL
													</a>

												</li>
												<li>
													<a href="#settings" data-toggle="tab">
														<i class="material-icons">local_library</i> 更多
													</a>

												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="card-content">
									<div class="tab-content text-center">
										<div class="tab-pane active" id="profile">
											<p> I will be the leader of a company that ends up being worth billions of
												dollars, because I got the answers. I understand culture. I am the
												nucleus. I think that’s a responsibility that I have, to push
												possibilities, to show people, this is the level that things could be
												at. I think that’s a responsibility that I have, to push possibilities,
												to show people, this is the level that things could be at. </p>
										</div>
										<div class="tab-pane" id="messages">
											<p> I think that’s a responsibility that I have, to push possibilities, to
												show people, this is the level that things could be at. I will be the
												leader of a company that ends up being worth billions of dollars,
												because I got the answers. I understand culture. I am the nucleus. I
												think that’s a responsibility that I have, to push possibilities, to
												show people, this is the level that things could be at.</p>
										</div>
										<div class="tab-pane" id="settings">
											<p>I think that’s a responsibility that I have, to push possibilities, to
												show people, this is the level that things could be at. So when you get
												something that has the name Kanye West on it, it’s supposed to be
												pushing the furthest possibilities. I will be the leader of a company
												that ends up being worth billions of dollars, because I got the answers.
												I understand culture. I am the nucleus.</p>
										</div>
									</div>
								</div>
							</div>
							<!-- End Tabs with icons on Card -->

						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- 成长之路-->
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h3>成长之路</h3>
					</div>
					<div class="col-md-4">
						<div class="card card-blog">
							<div class="card-image">
								<a href="#pablo">
									<img src="build/img/examples/color1.jpg" alt="" />
									<div class="card-title">
										<h6 class="category text-white">新手上路</h6>
									</div>
								</a>
							</div>
							<div class="card-content">

								<h4 class="card-title text-center">
									<a href="#pablo">梦想开始的地方，开启未来人生</a>
								</h4>
							</div>

						</div>
					</div>

					<div class="col-md-4">

						<div class="card card-blog">
							<div class="card-image">
								<a href="#pablo">
									<img src="build/img/examples/color2.jpg" alt="" />
									<div class="card-title">
										<h6 class="category text-white">简单问题</h6>
									</div>
								</a>
							</div>
							<div class="card-content">

								<h4 class="card-title text-center">
									<a href="#pablo">循序渐进，逐步提高</a>
								</h4>
							</div>
						</div>

					</div>

					<div class="col-md-4">

						<div class="card card-blog">
							<div class="card-image">
								<a href="#pablo">
									<img src="build/img/examples/color3.jpg" alt="" />
									<div class="card-title">
										<h6 class="category text-white">常见难题</h6>
									</div>
								</a>
							</div>
							<div class="card-content">

								<h4 class="card-title text-center">
									<a href="#pablo">准备出师，效力疆场</a>
								</h4>
							</div>
						</div>

					</div>

				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="card card-blog">
							<div class="card-image">
								<a href="#pablo">
									<img src="build/img/examples/card-project4.jpg" alt="" />
									<div class="card-title">
										<h6 class="category text-white">难度提高</h6>
									</div>
								</a>
							</div>
							<div class="card-content">

								<h4 class="card-title text-center">
									<a href="#pablo">成为学霸、职场精英</a>
								</h4>
							</div>

						</div>
					</div>

					<div class="col-md-4">

						<div class="card card-blog">
							<div class="card-image">
								<a href="#pablo">
									<img src="build/img/examples/card-project5.jpg" alt="" />
									<div class="card-title">
										<h6 class="category text-white">挑战自我</h6>
									</div>
								</a>
							</div>
							<div class="card-content">
								<h4 class="card-title text-center">
									<a href="#pablo">众人偶像、掷地有声</a>
								</h4>
							</div>
						</div>

					</div>

					<div class="col-md-4">

						<div class="card card-blog">
							<div class="card-image">
								<a href="#pablo">
									<img src="build/img/examples/card-project6.jpg" alt="" />
									<div class="card-title">
										<h6 class="category text-white">成为大神</h6>
									</div>
								</a>
							</div>
							<div class="card-content">
								<h4 class="card-title text-center">
									<a href="#pablo">那是一个传说……</a>
								</h4>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
		<!-- 竞赛-->
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-6">

						<div class="card card-background"
							style="background-image: url('build/img/examples/office1.jpg')">

							<div class="card-content">
								<h6 class="category text-info">热门竞赛</h6>
								<a href="#pablo">
									<h3 class="card-title">北京市科技协会第十界青少年编程大赛</h3>
								</a>
								<p class="card-description">
									凡是年龄介于10--24周岁青少年均可报名，获得比赛前三名科报送清华大学。前十名每人奖金100万元。
								</p>
								<a href="#pablo" class="btn btn-white btn-simple">
									<i class="material-icons">subject</i> 查看详情
								</a>
								<a href="#pablo" class="btn btn-white btn-simple">
									<i class="material-icons">watch_later</i> 立即报名
								</a>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="card card-background"
							style="background-image: url('build/img/examples/card-blog3.jpg')">
							<div class="card-content">
								<h6 class="category text-info">热门竞赛</h6>
								<h3 class="card-title">Competition of Microsoft、Google、Facebook、Twitter</h3>
								<p class="card-description">
									该竞赛由微软发起，获胜者可以直接获得微软工作机会，并未加入微软工作的程序员办理美国绿卡。
								</p>
								<a href="#pablo" class="btn btn-danger btn-round">
									<i class="material-icons">subject</i> Read 查看详情
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">

						<div class="card card-background"
							style="background-image: url('build/img/examples/office1.jpg')">

							<div class="card-content">
								<h6 class="category text-info">热门竞赛</h6>
								<a href="#pablo">
									<h3 class="card-title">北京市科技协会第十界青少年编程大赛</h3>
								</a>
								<p class="card-description">
									凡是年龄介于10--24周岁青少年均可报名，获得比赛前三名科报送清华大学。前十名每人奖金100万元。
								</p>
								<a href="#pablo" class="btn btn-white btn-simple">
									<i class="material-icons">subject</i> 查看详情
								</a>
								<a href="#pablo" class="btn btn-white btn-simple">
									<i class="material-icons">watch_later</i> 立即报名
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 在线刷题-->
		<div class="section">
			<div class="container">
				<div id="nav-tabs">
					<div class="row">
						<div class="col-md-12">
							<h3>在线刷题</h3>
							<!-- Tabs with icons on Card -->
							<div class="card card-nav-tabs">
								<div class="header header-success">
									<!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
									<div class="nav-tabs-navigation">
										<div class="nav-tabs-wrapper">
											<ul class="nav nav-tabs" data-tabs="tabs">
												<li class="active">
													<a href="#profile" data-toggle="tab">
														<i class="material-icons">blur_on</i> 算法大全
													</a>
												</li>
												<li>
													<a href="#messages" data-toggle="tab">
														<i class="material-icons">ac_unit</i> PYTHON
													</a>
												</li>
												<li>
													<a href="#settings" data-toggle="tab">
														<i class="material-icons">spa</i> C/C++
													</a>

												</li>
												<li>
													<a href="#settings" data-toggle="tab">
														<i class="material-icons">child_friendly</i> RUBY
													</a>

												</li>
												<li>
													<a href="#settings" data-toggle="tab">
														<i class="material-icons">free_breakfast</i> NODE
													</a>

												</li>
												<li>
													<a href="#settings" data-toggle="tab">
														<i class="material-icons">room_service</i> C#
													</a>

												</li>
												<li>
													<a href="#settings" data-toggle="tab">
														<i class="material-icons">pages</i> GO
													</a>

												</li>
												<li>
													<a href="#settings" data-toggle="tab">
														<i class="material-icons">public</i> SQL
													</a>

												</li>
												<li>
													<a href="#settings" data-toggle="tab">
														<i class="material-icons">adb</i> PERL
													</a>

												</li>
												<li>
													<a href="#settings" data-toggle="tab">
														<i class="material-icons">local_library</i> 更多
													</a>

												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="card-content">
									<div class="tab-content text-center">
										<div class="tab-pane active" id="profile">
											<p> I will be the leader of a company that ends up being worth billions of
												dollars, because I got the answers. I understand culture. I am the
												nucleus. I think that’s a responsibility that I have, to push
												possibilities, to show people, this is the level that things could be
												at. I think that’s a responsibility that I have, to push possibilities,
												to show people, this is the level that things could be at. </p>
										</div>
										<div class="tab-pane" id="messages">
											<p> I think that’s a responsibility that I have, to push possibilities, to
												show people, this is the level that things could be at. I will be the
												leader of a company that ends up being worth billions of dollars,
												because I got the answers. I understand culture. I am the nucleus. I
												think that’s a responsibility that I have, to push possibilities, to
												show people, this is the level that things could be at.</p>
										</div>
										<div class="tab-pane" id="settings">
											<p>I think that’s a responsibility that I have, to push possibilities, to
												show people, this is the level that things could be at. So when you get
												something that has the name Kanye West on it, it’s supposed to be
												pushing the furthest possibilities. I will be the leader of a company
												that ends up being worth billions of dollars, because I got the answers.
												I understand culture. I am the nucleus.</p>
										</div>
									</div>
								</div>
							</div>
							<!-- End Tabs with icons on Card -->

						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- 团队-->
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<h2 class="title">Our Team</h2>

					</div>
				</div>

				<div class="row">

					<div class="col-md-4">
						<div class="card card-profile card-plain">
							<div class="col-md-5">
								<div class="card-image">
									<a href="#pablo">
										<img class="img" src="build/img/faces/card-profile1-square.jpg">
									</a>
									<div class="colored-shadow"
										style="background-image: url(&quot;build/img/faces/card-profile1-square.jpg&quot;); opacity: 1;">
									</div>
								</div>
							</div>
							<div class="col-md-7">
								<div class="card-content">
									<h4 class="card-title">Michael Hao</h4>
									<h6 class="category text-muted">Founder</h6>

									<div class="footer">
										<a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i
												class="fa fa-twitter"></i></a>
										<a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i
												class="fa fa-facebook-square"></i></a>
										<a href="#pablo" class="btn btn-just-icon btn-simple btn-google"><i
												class="fa fa-google"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="card card-profile card-plain">
							<div class="col-md-5">
								<div class="card-image">
									<a href="#pablo">
										<img class="img" src="build/img/faces/card-profile6-square.jpg">
									</a>
									<div class="colored-shadow"
										style="background-image: url(&quot;build/img/faces/card-profile6-square.jpg&quot;); opacity: 1;">
									</div>
								</div>
							</div>
							<div class="col-md-7">
								<div class="card-content">
									<h4 class="card-title">Kendall Andrew</h4>
									<h6 class="category text-muted">Graphic Designer</h6>

									<div class="footer">
										<a href="#pablo" class="btn btn-just-icon btn-simple btn-linkedin"><i
												class="fa fa-linkedin"></i></a>
										<a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i
												class="fa fa-facebook-square"></i></a>
										<a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble"><i
												class="fa fa-dribbble"></i></a>

									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="card card-profile card-plain">
							<div class="col-md-5">
								<div class="card-image">
									<a href="#pablo">
										<img class="img" src="build/img/faces/card-profile4-square.jpg">
									</a>
									<div class="colored-shadow"
										style="background-image: url(&quot;build/img/faces/card-profile4-square.jpg&quot;); opacity: 1;">
									</div>
								</div>
							</div>
							<div class="col-md-7">
								<div class="card-content">
									<h4 class="card-title">Gina Andrew</h4>
									<h6 class="category text-muted">Web Designer</h6>

									<div class="footer">
										<a href="#pablo" class="btn btn-just-icon btn-simple btn-youtube"><i
												class="fa fa-youtube-play"></i></a>
										<a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i
												class="fa fa-twitter"></i></a>
										<a href="#pablo" class="btn btn-just-icon btn-simple btn-instagram"><i
												class="fa fa-instagram"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="card card-profile card-plain">
							<div class="col-md-5">
								<div class="card-image">
									<a href="#pablo">
										<img class="img" src="build/img/faces/card-profile2-square.jpg">
									</a>
									<div class="colored-shadow"
										style="background-image: url(&quot;build/img/faces/card-profile2-square.jpg&quot;); opacity: 1;">
									</div>
								</div>
							</div>
							<div class="col-md-7">
								<div class="card-content">
									<h4 class="card-title">George West</h4>
									<h6 class="category text-muted">Backend Hacker</h6>

									<div class="footer">
										<a href="#pablo" class="btn btn-just-icon btn-simple btn-linkedin"><i
												class="fa fa-linkedin"></i></a>
										<a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i
												class="fa fa-facebook-square"></i></a>
										<a href="#pablo" class="btn btn-just-icon btn-simple btn-google"><i
												class="fa fa-google"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="card card-profile card-plain">
							<div class="col-md-5">
								<div class="card-image">
									<a href="#pablo">
										<img class="img" src="build/img/faces/card-profile1-square.jpg">
									</a>
									<div class="colored-shadow"
										style="background-image: url(&quot;build/img/faces/card-profile1-square.jpg&quot;); opacity: 1;">
									</div>
								</div>
							</div>
							<div class="col-md-7">
								<div class="card-content">
									<h4 class="card-title">Michael Hao</h4>
									<h6 class="category text-muted">Founder</h6>

									<div class="footer">
										<a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i
												class="fa fa-twitter"></i></a>
										<a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i
												class="fa fa-facebook-square"></i></a>
										<a href="#pablo" class="btn btn-just-icon btn-simple btn-google"><i
												class="fa fa-google"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="card card-profile card-plain">
							<div class="col-md-5">
								<div class="card-image">
									<a href="#pablo">
										<img class="img" src="build/img/faces/card-profile6-square.jpg">
									</a>
									<div class="colored-shadow"
										style="background-image: url(&quot;build/img/faces/card-profile6-square.jpg&quot;); opacity: 1;">
									</div>
								</div>
							</div>
							<div class="col-md-7">
								<div class="card-content">
									<h4 class="card-title">Kendall Andrew</h4>
									<h6 class="category text-muted">Graphic Designer</h6>

									<div class="footer">
										<a href="#pablo" class="btn btn-just-icon btn-simple btn-linkedin"><i
												class="fa fa-linkedin"></i></a>
										<a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i
												class="fa fa-facebook-square"></i></a>
										<a href="#pablo" class="btn btn-just-icon btn-simple btn-dribbble"><i
												class="fa fa-dribbble"></i></a>

									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-12 ">
						<div class="text-center">
							<h2 class="title">Join Us</h2>
						</div>

						<div class="card card-raised card-form-horizontal">
							<div class="card-content">
								<form method="" action="">
									<div class="row">
										<div class="col-sm-8">

											<div class="input-group">
												<span class="input-group-addon">
													<i class="material-icons">mail</i>
												</span>
												<input type="email" value="" placeholder="Your Email..."
													class="form-control">
											</div>
										</div>
										<div class="col-sm-4">
											<button type="button" class="btn btn-primary btn-block">立即加入</button>
										</div>
									</div>
								</form>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>

		<!-- 页尾 -->
		<footer class="footer footer-black footer-big">
			<div class="container">

				<div class="content">
					<div class="row">
						<div class="col-md-4">
							<h5>About Us</h5>
							<p>Creative Tim is a startup that creates design tools that make the web
								development process faster and easier. </p>
							<p>We love the web and care deeply for how users interact with a digital
								product. We power businesses and individuals to create better looking web
								projects around the world. </p>
						</div>

						<div class="col-md-4">
							<h5>Social Feed</h5>
							<div class="social-feed">
								<div class="feed-line">
									<i class="fa fa-twitter"></i>
									<p>How to handle ethical disagreements with your clients.</p>
								</div>
								<div class="feed-line">
									<i class="fa fa-twitter"></i>
									<p>The tangible benefits of designing at 1x pixel density.</p>
								</div>
								<div class="feed-line">
									<i class="fa fa-facebook-square"></i>
									<p>A collection of 25 stunning sites that you can use for inspiration.
									</p>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<h5>Instagram Feed</h5>
							<div class="gallery-feed">
								<img src="build/img/faces/card-profile6-square.jpg" class="img img-raised img-rounded"
									alt="" />
								<img src="build/img/faces/christian.jpg" class="img img-raised img-rounded" alt="" />
								<img src="build/img/faces/card-profile4-square.jpg" class="img img-raised img-rounded"
									alt="" />
								<img src="build/img/faces/card-profile1-square.jpg" class="img img-raised img-rounded"
									alt="" />

								<img src="build/img/faces/marc.jpg" class="img img-raised img-rounded" alt="" />
								<img src="build/img/faces/kendall.jpg" class="img img-raised img-rounded" alt="" />
								<img src="build/img/faces/card-profile5-square.jpg" class="img img-raised img-rounded"
									alt="" />
								<img src="build/img/faces/card-profile2-square.jpg" class="img img-raised img-rounded"
									alt="" />
							</div>

						</div>
					</div>
				</div>


				<hr />

				<ul class="pull-left">
					<li>
						<a href="#pablo">
							Blog
						</a>
					</li>
					<li>
						<a href="#pablo">
							Presentation
						</a>
					</li>
					<li>
						<a href="#pablo">
							Discover
						</a>
					</li>
					<li>
						<a href="#pablo">
							Payment
						</a>
					</li>
					<li>
						<a href="#pablo">
							Contact Us
						</a>
					</li>
				</ul>

				<div class="copyright pull-right">
					Copyright &copy;
					<script>document.write(new Date().getFullYear())</script> Creative Tim All Rights
					Reserved.
				</div>
			</div>
		</footer>
	</div>
</body>
<!--   Core JS Files   -->
<script src="build/js/jquery.min.js" type="text/javascript"></script>
<script src="build/js/bootstrap.min.js" type="text/javascript"></script>
<script src="build/js/material.min.js"></script>

<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="build/js/moment.min.js"></script>

<!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="build/js/nouislider.min.js" type="text/javascript"></script>

<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="build/js/bootstrap-datetimepicker.js" type="text/javascript"></script>

<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="build/js/bootstrap-selectpicker.js" type="text/javascript"></script>

<!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
<script src="build/js/bootstrap-tagsinput.js"></script>

<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="build/js/jasny-bootstrap.min.js"></script>




<!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
<script src="build/js/material-kit.js?v=1.2.1" type="text/javascript"></script>

<!-- Fixed Sidebar Nav - JS For Demo Purpose, Don't Include it in your project -->
<script src="build/js/modernizr.js" type="text/javascript"></script>
<script src="build/js/vertical-nav.js" type="text/javascript"></script>


</html>