{% extends 'c-base.html' %}
{% load static %}
{% block css %}
<script src="{% static '/js/commonmark.min.js' %}"></script>    
{% endblock %}
{% block content %}

<!-- page content -->
  <div class="right_col" role="main">
    <div class="">
      <div class="col-md-8 col-sm-8 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>题目：{{ title }}</h2>
          <ul class="nav navbar-right panel_toolbox">
              <li><a href="../coding"><button type="button" class="btn btn-success btn-sm">开始答题</button></a>
              </li>
            </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content" id="content"></div>
        <div class="x_content" >
              <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <th style="width:20%">作者:</th>
                        <td>{{ user }}</td>
                      </tr>
                      <tr>
                        <th>标签</th>
                        <td>基础问题</td>
                      </tr>
                      <tr>
                        <th>创建日期:</th>
                        <td>{{ createdate }}</td>
                      </tr>
                      <tr>
                        <th>时间限制</th>
                        <td>{{ timelimit }}s</td>
                      </tr>
                      <tr>
                          <th>代码限制</th>
                          <td>{{ codelimit }} Bytes</td>
                      </tr>
                      <tr>
                          <th>得分</th>
                          <td>{{ cost }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <textarea id="hcontent" style="display: none">{{ content }}</textarea>
                </div>
              </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
              <button type="button" class="btn btn-info btn-sm">我的答案</button>
              <button type="button" class="btn btn-info btn-sm">全部答案</button>
          </div>
          <div class="x_content">
              <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>大神</th>
                      <th>得分</th>
                      <th>语言</th>
                      <th>时间</th>
                    </tr>
                  </thead>
                  <tbody>
                   {% for row in submit %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>{{ row.user.name }}</td>
                      <td>{{ row.cost }}</td>
                      <td>{{ row.codetype }}</td>
                      <td>{{ row.createdate|date:'Y /m /d' }}</td>
                      <td><a href="../viewsolution/?id={{ row.id }}"><button type="button" class="btn btn-info btn-xs">看</button></a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                
          </div>
        </div>
      </div>

    </div>
  </div>
<!-- /page content -->
{% endblock %}
{% block js %}
<script>
var reader = new commonmark.Parser({smart: true});
var writer = new commonmark.HtmlRenderer({sourcepos: true});
var parsed = reader.parse($('#hcontent').val()); 
var result = writer.render(parsed); 
document.querySelector('#content').innerHTML = result;
</script>
{% endblock %}