{% extends 'c-base.html' %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static '/codemirror/lib/codemirror.css' %}">
  <script src="{% static '/codemirror/lib/codemirror.js' %}"></script>
  <script src="{% static '/codemirror/addon/selection/active-line.js' %}"></script>
  <script src="{% static '/codemirror/mode/python/python.js' %}"></script>
  <script src="{% static '/codemirror/mode/go/go.js' %}"></script>
  <script src="{% static '/codemirror/mode/clike/clike.js' %}"></script>
  <script src="{% static '/codemirror/mode/ruby/ruby.js' %}"></script>
  <script src="{% static '/codemirror/mode/perl/perl.js' %}"></script>
  <script src="{% static '/codemirror/mode/swift/swift.js' %}"></script>
  <script src="{% static '/codemirror/mode/pascal/pascal.js' %}"></script>
  <script src="{% static '/codemirror/mode/fortran/fortran.js' %}"></script>
  <script src="{% static '/codemirror/mode/javascript/javascript.js' %}"></script>
  <link rel="stylesheet" href="{% static '/codemirror/theme/3024-day.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/3024-night.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/abcdef.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/ambiance.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/base16-dark.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/bespin.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/base16-light.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/blackboard.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/cobalt.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/colorforth.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/dracula.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/duotone-dark.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/duotone-light.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/eclipse.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/elegant.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/erlang-dark.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/gruvbox-dark.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/hopscotch.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/icecoder.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/isotope.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/lesser-dark.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/liquibyte.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/lucario.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/material.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/mbo.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/mdn-like.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/midnight.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/monokai.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/neat.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/neo.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/night.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/nord.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/oceanic-next.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/panda-syntax.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/paraiso-dark.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/paraiso-light.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/pastel-on-dark.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/railscasts.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/rubyblue.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/seti.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/shadowfox.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/solarized.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/the-matrix.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/tomorrow-night-bright.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/tomorrow-night-eighties.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/ttcn.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/twilight.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/vibrant-ink.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/xq-dark.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/xq-light.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/yeti.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/idea.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/darcula.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/yonce.css' %}">
  <link rel="stylesheet" href="{% static '/codemirror/theme/zenburn.css' %}">
  <style>
    .CodeMirror {border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5;height:415px}
    .breakpoints {width: .8em;}
    .breakpoint { color: #822; }
    .CodeMirror {border: 1px solid #aaa;}
  </style>
{% endblock %}
{% block content %}
<!-- page content -->
<form class="form-horizontal form-label-left" method="post" action="../running/">
  <div class="right_col" role="main">
    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <div class="form-group">
            <label class="control-label col-md-4" >输入： 
            </label>
            <div class="col-md-12">
              <textarea class="editor-wrapper form-control" id="stdin" ></textarea></div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-4" >输出：
            </label>
            <div class="col-md-12">
                <textarea class="editor-wrapper form-control" id="stdout" ></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h4><a href="../detail/?id={{ issueid }}" target="blank">题目：{{ title }}</a></h4>
          <div class="clearfix"></div>
        </div>
          {% csrf_token %}
            <div class="x_content">
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">语言</label>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                      <select class="form-control" id="codetype" name="codetype">
                        <option value="python">Python</option>
                        <option value="text/x-go">GO</option>
                        <option value="text/x-c++src">C++</option>
                        <option value="text/x-csrc">C</option>
                        <option value="text/x-java">JAVA</option>
                        <option value="text/x-csharp">C#</option>
                        <option value="text/x-objectivec">Objective C</option>
                        <option value="text/x-swift">Swift</option>
                        <option value="text/x-ruby">Ruby</option>
                        <option value="text/x-perl">Perl</option>
                        <option value="text/x-fortran">Fortran</option>
                        <option value="text/x-pascal">Pascal</option>
                        <option value="text/typescript">JS</option>
                      </select>
                    </div>
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">主题</label>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                      <select class="form-control" id="theme">
                        <option selected="">default</option>
                        <option>3024-day</option>
                        <option>3024-night</option>
                        <option>abcdef</option>
                        <option>ambiance</option>
                        <option>base16-dark</option>
                        <option>base16-light</option>
                        <option>bespin</option>
                        <option>blackboard</option>
                        <option>cobalt</option>
                        <option>colorforth</option>
                        <option>darcula</option>
                        <option>dracula</option>
                        <option>duotone-dark</option>
                        <option>duotone-light</option>
                        <option>eclipse</option>
                        <option>elegant</option>
                        <option>erlang-dark</option>
                        <option>gruvbox-dark</option>
                        <option>hopscotch</option>
                        <option>icecoder</option>
                        <option>idea</option>
                        <option>isotope</option>
                        <option>lesser-dark</option>
                        <option>liquibyte</option>
                        <option>lucario</option>
                        <option>material</option>
                        <option>mbo</option>
                        <option>mdn-like</option>
                        <option>midnight</option>
                        <option>monokai</option>
                        <option>neat</option>
                        <option>neo</option>
                        <option>night</option>
                        <option>nord</option>
                        <option>oceanic-next</option>
                        <option>panda-syntax</option>
                        <option>paraiso-dark</option>
                        <option>paraiso-light</option>
                        <option>pastel-on-dark</option>
                        <option>railscasts</option>
                        <option>rubyblue</option>
                        <option>seti</option>
                        <option>shadowfox</option>
                        <option>solarized dark</option>
                        <option>solarized light</option>
                        <option>the-matrix</option>
                        <option>tomorrow-night-bright</option>
                        <option>tomorrow-night-eighties</option>
                        <option>ttcn</option>
                        <option>twilight</option>
                        <option>vibrant-ink</option>
                        <option>xq-dark</option>
                        <option>xq-light</option>
                        <option>yeti</option>
                        <option>yonce</option>
                        <option>zenburn</option>
                      </select>
                    </div>
                  </div>
                <textarea id="codeid" class="form-control" name="code">

                </textarea>  
            </div>
            <div class="x_content">
              <div class="form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <button class="btn btn-primary pull-left" type="button" id="save">保存</button>
                  <button type="reset" class="btn btn-danger pull-left" id="reset">重置</button>
                  <button class="btn btn-success pull-left" type="button" id="run">运行</button>
                  <button class="btn btn-warning pull-left" type="button" id="debug"><i class="fa fa-play"></i>调试</button>
                  <button style="display: none" class="btn btn-warning pull-left" type="button" id="debugcontinue"><i class="fa fa-stop"></i>继续</button>
                  <button style="display: none" class="btn btn-warning pull-left" type="button" id="debugstop"><i class="fa fa-stop"></i>停止</button>
                  <button style="display: none" class="btn btn-warning pull-left" type="button" id="debugup"><i class="fa fa-arrow-up"></i>单步跳出</button>
                  <button style="display: none" class="btn btn-warning pull-left" type="button" id="debugdown"><i class="fa fa-arrow-down"></i>单步进入</button>
                  <label class="control-label " id="runtime"></label>
                  <button class="btn btn-success pull-right" type="button" id="submit">提交</button>
                  <span id="issue" style="visibility: hidden">{{ issueid }}</span>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
 </form>
<!-- /page content -->
{% endblock %}
{% block js %}
    <script>
      var editor = CodeMirror.fromTextArea(document.getElementById("codeid"), {
            mode: {name: $('#codetype').val(),
                  version: 3,
                  singleLineStringErrors: true},
                  lineNumbers: true,
                  gutters: ["CodeMirror-linenumbers", "breakpoints"],
                  indentUnit: 4,
                  styleActiveLine: true,
                  height: "100%",
                  smartIndent: true, // 智能缩进
                  indentWithTabs: true, // 使用制表符进行智能缩进
                  matchBrackets: true
        });
      editor.on("gutterClick", function(cm, n) {
        var info = cm.lineInfo(n);
        var obj = info.gutterMarkers ? null : makeMarker()
        var lines = [];
        lines.push(n+1);

        cm.setGutterMarker(n, "breakpoints", obj);
        if(debugging){
          $.post("../debug/", { 
                                  line:JSON.stringify(lines),
                                  action: obj ? 'addbreak':'removebreak'},
            function(data){
            });
        }
      });
      function makeMarker() {
        var marker = document.createElement("div");
        marker.style.color = "#822";
        marker.innerHTML = "●";
        return marker;
      }
      //更改语言
      function changcode() {
        var t = $('#codetype').val();
        var c ="";
        if(t == "python"){
          c = 'def factorial(x):\n  if x == 1:\n    print(x)\n    return x\n  y = x * factorial(x-1)\n  print(y)\n  return y\nprint()\nfactorial(10)';
        }else if(t == "text/x-go"){
          c = 'package main\n\nimport (\n    "fmt"\n    "os"\n)\n\nfunc main() {\n    fmt.Println(os.Args)\n}';
        }else if(t == "text/x-c++src"){
          c = '#include<iostream>\nusing namespace std;\n\nint main(int argc,char *argv[])\n{\n    for(int i=0;i<argc;i++)\n        cout<<argv[i]<<endl;\n}';
        }else if(t == "text/x-csrc"){
          c = '#include <stdio.h>\n\nint main(int argn,char **argv)\n{\n    printf("main input is %d %s",argn,*(argv+1));\n    return 0;\n}';
        }else if(t == "perl"){
          c = 'def factorial(x):\n  if x == 1:\n    print(x)\n    return x\n  y = x * factorial(x-1)\n  print(y)\n  return y\nprint()\nfactorial(10)';
        }else if(t == "text/x-ruby"){
          c = 'def main()\n   puts "Hello," + $*[0]\nend\nmain';
        }else if(t == "text/x-csharp"){
          c = 'class HelloMono\n { \n    public static void Main(string[ ] args) \n    {\n         System.Console.WriteLine(args[0]); \n    } \n}';
        }else if(t == "text/x-java"){
          c = 'public class VMargs {\n\n    public static void main(String[] args) {\n        String result = args[0];\n        System.out.println("my: " + result);\n    }\n}'
        }else if(t == "text/x-objectivec"){
          c = 'int main(int argc, const char * argv[])\n{\n    printf(argv[0]);\n    return 0;\n}';
        }else if(t == "text/x-swift"){
          c = 'print("my first swift ")';
        }else if(t == "text/x-perl"){
          c = '#!/usr/bin/perl\nsub Average{\n$n = scalar(@_);\n\n$sum = 0;\n   foreach $item (@_){\n      $sum += $item;\n   }\n   $average = $sum / $n;\n   print "传入的参数为 : ","@_\n";           # 打印整个数组\n}\nAverage(10, 20, 30);'
        }else if(t == "text/x-fortran"){
          c = 'PROGRAM test_get_command_argument\nInteger :: i,n\nCharacter(len=128) :: arg\ni = 0\nDO\nCALL get_command_argument(i, arg)\nIF (LEN_TRIM(arg) == 0) EXIT\nWRITE (*,*) i,arg\ni = i+1\nEND DO\nEND PROGRAM\n'
        }else if(t == "text/x-pascal"){
          c = 'program hello;\nbegin\n	writeln(\'hhh\')\nend.'
        }else if(t == "text/typescript"){
          c = 'function hello() {\nconsole.log(\'Hello World!\');\n}\nhello();'
        }
        
        editor.setOption("mode",t);
        editor.setValue(c);
      }
      $('#codetype').change(changcode);
      changcode();
      debugging = false;
      //run代码
      $('#run').click(function(){
        $('#run').attr("disabled",true); 
        $('#submit').attr("disabled",true); 
        //console.log($('#issue').text());
        $.post("../running/", { codetype: $('#codetype').val(), 
                                stdin: $('#stdin').val() ,
                                code: editor.getValue(),
                                issue: $('#issue').text()},
          function(data){
            $('#run').attr("disabled",false); 
            $('#submit').attr("disabled",false); 
            $('#stdout').val(data['stdout']['outdata']);
            
            $('#runtime').text('运行时间:' + data['stdout']['runtime']+'秒');
          });
      });
      //提交代码
      $('#submit').click(function(){
        $('#run').attr("disabled",true); 
        $('#submit').attr("disabled",true); 
        $('#runtime').text('');
        $.post("../submit/", { codetype: $('#codetype').val(), 
                                stdin: $('#stdin').val() ,
                                code: editor.getValue(),
                                issue: $('#issue').text()},
          function(data){
            console.log(data);
            $('#run').attr("disabled",false); 
            $('#submit').attr("disabled",false); 
            $('#stdout').val(data['stdout']);
          });
      });
      //开始调试
      $('#debug').click(function(){
        $('#stdout').val('');
        $('#runtime').text('');
        debugging=true;
        $.post("../debug/", { codetype: $('#codetype').val(), 
                                stdin: $('#stdin').val() ,
                                code: editor.getValue(),
                                action:'debug',
                                breaks:JSON.stringify(getbreaks())
                              },
          function(data){
            console.log(data);
            if( data['result'] == true){
              editor.setCursor(Number(data['pdbresult'])-1);
              $('#debugstop').show();
              $('#debugup').show();
              $('#debugdown').show();
              $('#debugcontinue').show();

              $('#debug').hide();
              $('#save').hide();
              $('#reset').hide();
              $('#run').hide();
              $('#submit').hide();
            }else{
              debugging=false;
            }
            $('#stdout').val(data['appresult']);
          });
      });
      //停止调试
      $('#debugstop').click(function(){
        debugging=false;
          $.post("../debug/", { 
                                action:'stop'
                              },
          function(data){
            console.log(data);

              $('#debugstop').hide();
              $('#debugup').hide();
              $('#debugdown').hide();
              $('#debugcontinue').hide();
              
              $('#debug').show();
              $('#save').show();
              $('#reset').show();
              $('#run').show();
              $('#submit').show();
            
          });
      });
      //单步进入
      $('#debugdown').click(function(){
          $.post("../debug/", { 
                                action:'stepinto'
                              },
          function(data){
            console.log(data);
            if( data['result']  == true){
              old = $('#stdout').val();
              $('#stdout').val( old + data['appresult']);

              if(data['pdbresult'] == 'end'){
                debugging=false;
                editor.setCursor(0)
                $('#debugstop').hide();
                $('#debugup').hide();
                $('#debugdown').hide();
                $('#debugcontinue').hide();
                
                $('#debug').show();
                $('#save').show();
                $('#reset').show();
                $('#run').show();
                $('#submit').show();
              }else{
                editor.setCursor(Number(data['pdbresult'])-1);
              }
            }
          });
      });
      //单步跳过
      $('#debugup').click(function(){
          $.post("../debug/", { 
                                action:'stepover'
                              },
          function(data){
            console.log(data);
            if( data['result'] == true){
              old = $('#stdout').val();
              $('#stdout').val( old + data['appresult']);
              
              if(data['pdbresult'] == 'end'){
                debugging=false;
                editor.setCursor(0)
                $('#debugstop').hide();
                $('#debugup').hide();
                $('#debugdown').hide();
                $('#debugcontinue').hide();

                $('#debug').show();
                $('#save').show();
                $('#reset').show();
                $('#run').show();
                $('#submit').show();
              }else{
                editor.setCursor(Number(data['pdbresult'])-1);
              }
            }
          });
      });
      //继续
      $('#debugcontinue').click(function(){
          $.post("../debug/", { 
                                action:'continue'
                              },
          function(data){
            console.log(data);
            if( data['result'] == true){
              old = $('#stdout').val();
              $('#stdout').val( old + data['appresult']);
              
              if(data['pdbresult'] == 'end'){
                debugging=false;
                editor.setCursor(0)
                $('#debugstop').hide();
                $('#debugup').hide();
                $('#debugdown').hide();
                $('#debugcontinue').hide();

                $('#debug').show();
                $('#save').show();
                $('#reset').show();
                $('#run').show();
                $('#submit').show();
              }else{
                editor.setCursor(Number(data['pdbresult'])-1);
              }
            }
          });


      });
      //添加断点
      function getbreaks(){
        var lines=[];
        linecount = editor.lineCount();
        for( i = 0 ;i<linecount;i++){
          var info = editor.lineInfo(i);
          if (info.gutterMarkers){
            lines.push(i+1);
          } 
        }
        return lines;
      }
      //更改主题
      $('#theme').change(function(){
        var input = document.getElementById("theme");
        var theme = input.options[input.selectedIndex].textContent;
        editor.setOption("theme", theme);
      });
      //重置运行时间
      $('#reset').click(function(){
        $('#runtime').text('');
      })
    </script>
{% endblock %}
