{% extends 'c-base.html' %}
{% load static %}
{% block css %}
<script src="{% static '/js/stackedit.min.js' %}"></script>
{% endblock %}
{% block content %}

{% endblock %}
{% block js %}
<script>
  //const el = document.querySelector('textarea');
  const stackedit = new Stackedit();

  // Open the iframe
  stackedit.openFile({
    name: 'Filename', // with an optional filename
    content: {
      text: 'Hello **CommonMark** writer!'// and the Markdown content.
    }
  });

  // Listen to StackEdit events and apply the changes to the textarea.
  stackedit.on('fileChange', (file) => {
    el.value = file.content.text;
  });
</script>
{% endblock %}