{% extends 'c-base.html' %}
{% load static %}
{% block css %}
{% endblock%}

{% block content %}
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h4>用户资料</h4>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                      <div class="profile_img">
                        <div id="crop-avatar">
                          <!-- Current avatar -->
                          <img class="img-responsive avatar-view" src="{% static '/images/picture.jpg' %}" alt="Avatar" >
                        </div>
                      </div>
                      <h3>雷布斯</h3>

                      <ul class="list-unstyled user_data">
                        <li><i class="fa fa-map-marker user-profile-icon"></i> 中国，北京，朝阳
                        </li>

                        <li>
                          <i class="fa fa-briefcase user-profile-icon"></i>软件工程师
                        </li>

                        <li class="m-top-xs">
                          <i class="fa fa-external-link user-profile-icon"></i>
                          <a href="http://www.github.com/" target="_blank">www.github.com</a>
                        </li>
                      </ul>

                      <a class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Edit Profile</a>
                      <br />

                      <!-- start skills -->
                      <h4>技能等级</h4>
                      <ul class="list-unstyled user_data">
                        <li>
                          <p>C++</p>
                          <div class="progress progress_sm">
                            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                          </div>
                        </li>
                        <li>
                          <p>Python</p>
                          <div class="progress progress_sm">
                            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="70"></div>
                          </div>
                        </li>
                        <li>
                          <p>Automation & Testing</p>
                          <div class="progress progress_sm">
                            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="30"></div>
                          </div>
                        </li>
                        <li>
                          <p>UI / UX</p>
                          <div class="progress progress_sm">
                            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                          </div>
                        </li>
                      </ul>
                      <!-- end of skills -->
                      <h4>最近提交</h4>
                      <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <th>问题</th>
                              <th>结果</th>
                              <th>语言</th>
                              <th>时间</th>
                            </thead>
                            <tbody>
                              <tr>
                                <td >汉诺塔</td>
                                <td>通过</td>
                                <td >C++</td>
                                <td>2019-10-01</td>
                              </tr>
                              <tr>
                                  <td >汉诺塔</td>
                                  <td>通过</td>
                                  <td >C++</td>
                                  <td>2019-10-01</td>
                              </tr>
                              <tr>
                                  <td >汉诺塔</td>
                                  <td>通过</td>
                                  <td >C++</td>
                                  <td>2019-10-01</td>
                              </tr>
                              <tr>
                                  <td >汉诺塔</td>
                                  <td>通过</td>
                                  <td >C++</td>
                                  <td>2019-10-01</td>
                              </tr>
                              <tr>
                                  <td >汉诺塔</td>
                                  <td>通过</td>
                                  <td >C++</td>
                                  <td>2019-10-01</td>
                              </tr>
                              <tr>
                                  <td >汉诺塔</td>
                                  <td>通过</td>
                                  <td >C++</td>
                                  <td>2019-10-01</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">

                      <div class="x_content">
                          <div class="row">
                              <div class="col-md-4 col-sm-4 col-xs-12 ">
                                  <div class="bs-example" data-example-id="simple-jumbotron">
                                      <div class="jumbotron">
                                        <h1>2251</h1><br/><h2><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></h2>
                                      </div>
                                  </div>
                              </div>
                                <div class="col-md-8 col-sm-8 col-xs-12 ">
                                    <div class="table-responsive">
                                        <table class="table">
                                          <tbody>
                                            <tr>
                                              <th style="width:20%">最高积分：</th>
                                              <td>3205</td>
                                            </tr>
                                            <tr>
                                              <th>冰果排名：</th>
                                              <td>201</td>
                                            </tr>
                                            <tr>
                                              <th>成长排名:</th>
                                              <td>100</td>
                                            </tr>
                                            <tr>
                                              <th>竞标赛排名：  </th>
                                              <td>150</td>
                                            </tr>
                                            <tr>
                                                <th>午间时刻排名：</th>
                                                <td>350</td>
                                            </tr>
                                            <tr>
                                                <th>解决问题：</th>
                                                <td>1500</td>
                                            </tr>

                                            <tr>
                                                <th>语言</th>
                                                <td>C, C++, JAVA, Python3</td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                </div>
                          </div>
                          <div class="ln_solid"></div>
                      </div>
                      <div class="x_content">
                        <h4>积分走势</h4>
                        <div id="graph_bar" style="width:100%; height:280px;"></div>
                        <div class="ln_solid"></div>
                        <h4>积分分布</h4>
                        <div id="graph_bar1" style="width:100%; height:280px;"></div>
                        <div class="ln_solid"></div>
                        <h4>代码质量</h4>
                        <div class="x_content">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-12 ">
                                    <div id="graph_bar2" style="width:100%; height:280px;"></div>
                                </div>
                                  <div class="col-md-6 col-sm-6 col-xs-12 ">
                                      <div class="table-responsive">
                                          <table class="table">
                                            <tbody>
                                              <tr>
                                                <th style="width:20%">代码通过</th>
                                                <td>1000</td>
                                              </tr>
                                              <tr>
                                                <th>代码错误</th>
                                                <td>20</td>
                                              </tr>
                                              <tr>
                                                <th>部分通过:</th>
                                                <td>100</td>
                                              </tr>
                                              <tr>
                                                <th>编译错误  </th>
                                                <td>10</td>
                                              </tr>
                                              <tr>
                                                  <th>运行时错误</th>
                                                  <td>15</td>
                                              </tr>
                                              <tr>
                                                  <th>超时</th>
                                                  <td>9</td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
                                  </div>
                            </div>
                            <div class="ln_solid"></div>
                            <h4>测试通过的代码</h4>
                            <div class="x_content">
                                <div class="table-responsive">
                                    <table class="table">
                                      <thead>
                                        <th>问题</th>
                                        <th>难度</th>
                                        <th>代码量</th>
                                        <th>运行时间</th>
                                        <th>内存占用</th>
                                        <th>语言</th>
                                        <th>提交时间</th>
                                        <th>积分</th>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td >汉诺塔</td>
                                          <td>普通</td>
                                          <td>201行</td>
                                          <td >1ms</td>
                                          <td >9M</td>
                                          <td >C++</td>
                                          <td>2019-10-01 09:01:02</td>
                                          <td>25</td>
                                        </tr>
                                        <tr>
                                            <td >汉诺塔</td>
                                            <td>普通</td>
                                            <td>201行</td>
                                            <td >1ms</td>
                                            <td >9M</td>
                                            <td >C++</td>
                                            <td>2019-10-01 09:01:02</td>
                                            <td>25</td>
                                          </tr>
                                          <tr>
                                              <td >汉诺塔</td>
                                              <td>普通</td>
                                              <td>201行</td>
                                              <td >1ms</td>
                                              <td >9M</td>
                                              <td >C++</td>
                                              <td>2019-10-01 09:01:02</td>
                                              <td>25</td>
                                            </tr>
                                            <tr>
                                                <td >汉诺塔</td>
                                                <td>普通</td>
                                                <td>201行</td>
                                                <td >1ms</td>
                                                <td >9M</td>
                                                <td >C++</td>
                                                <td>2019-10-01 09:01:02</td>
                                                <td>25</td>
                                              </tr>
                                              <tr>
                                                  <td >汉诺塔</td>
                                                  <td>普通</td>
                                                  <td>201行</td>
                                                  <td >1ms</td>
                                                  <td >9M</td>
                                                  <td >C++</td>
                                                  <td>2019-10-01 09:01:02</td>
                                                  <td>25</td>
                                                </tr>
                                                <tr>
                                                    <td >汉诺塔</td>
                                                    <td>普通</td>
                                                    <td>201行</td>
                                                    <td >1ms</td>
                                                    <td >9M</td>
                                                    <td >C++</td>
                                                    <td>2019-10-01 09:01:02</td>
                                                    <td>25</td>
                                                  </tr>
                                                  <tr>
                                                      <td >汉诺塔</td>
                                                      <td>普通</td>
                                                      <td>201行</td>
                                                      <td >1ms</td>
                                                      <td >9M</td>
                                                      <td >C++</td>
                                                      <td>2019-10-01 09:01:02</td>
                                                      <td>25</td>
                                                    </tr>
                                                    <tr>
                                                        <td >汉诺塔</td>
                                                        <td>普通</td>
                                                        <td>201行</td>
                                                        <td >1ms</td>
                                                        <td >9M</td>
                                                        <td >C++</td>
                                                        <td>2019-10-01 09:01:02</td>
                                                        <td>25</td>
                                                      </tr>
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                            <h4>部分通过的代码</h4>
                            <div class="x_content">
                                <div class="table-responsive">
                                    <table class="table">
                                      <thead>
                                        <th>问题</th>
                                        <th>难度</th>
                                        <th>代码量</th>
                                        <th>运行时间</th>
                                        <th>内存占用</th>
                                        <th>语言</th>
                                        <th>提交时间</th>
                                        <th>积分</th>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td >汉诺塔</td>
                                          <td>普通</td>
                                          <td>201行</td>
                                          <td >1ms</td>
                                          <td >9M</td>
                                          <td >C++</td>
                                          <td>2019-10-01 09:01:02</td>
                                          <td>25</td>
                                        </tr>
                                        <tr>
                                            <td >汉诺塔</td>
                                            <td>普通</td>
                                            <td>201行</td>
                                            <td >1ms</td>
                                            <td >9M</td>
                                            <td >C++</td>
                                            <td>2019-10-01 09:01:02</td>
                                            <td>25</td>
                                          </tr>
                                          <tr>
                                              <td >汉诺塔</td>
                                              <td>普通</td>
                                              <td>201行</td>
                                              <td >1ms</td>
                                              <td >9M</td>
                                              <td >C++</td>
                                              <td>2019-10-01 09:01:02</td>
                                              <td>25</td>
                                            </tr>
                                            <tr>
                                                <td >汉诺塔</td>
                                                <td>普通</td>
                                                <td>201行</td>
                                                <td >1ms</td>
                                                <td >9M</td>
                                                <td >C++</td>
                                                <td>2019-10-01 09:01:02</td>
                                                <td>25</td>
                                              </tr>
                                              <tr>
                                                  <td >汉诺塔</td>
                                                  <td>普通</td>
                                                  <td>201行</td>
                                                  <td >1ms</td>
                                                  <td >9M</td>
                                                  <td >C++</td>
                                                  <td>2019-10-01 09:01:02</td>
                                                  <td>25</td>
                                                </tr>
                                                <tr>
                                                    <td >汉诺塔</td>
                                                    <td>普通</td>
                                                    <td>201行</td>
                                                    <td >1ms</td>
                                                    <td >9M</td>
                                                    <td >C++</td>
                                                    <td>2019-10-01 09:01:02</td>
                                                    <td>25</td>
                                                  </tr>
                                                  <tr>
                                                      <td >汉诺塔</td>
                                                      <td>普通</td>
                                                      <td>201行</td>
                                                      <td >1ms</td>
                                                      <td >9M</td>
                                                      <td >C++</td>
                                                      <td>2019-10-01 09:01:02</td>
                                                      <td>25</td>
                                                    </tr>
                                                    <tr>
                                                        <td >汉诺塔</td>
                                                        <td>普通</td>
                                                        <td>201行</td>
                                                        <td >1ms</td>
                                                        <td >9M</td>
                                                        <td >C++</td>
                                                        <td>2019-10-01 09:01:02</td>
                                                        <td>25</td>
                                                      </tr>
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
        
        {% endblock %}
        {% block js %}
        <script src="{% static '/raphael/raphael.min.js' %}"></script>
        <script src="{% static '/morris.js/morris.min.js' %}"></script>
        {% endblock %}