{% extends 'c-base.html' %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static '/codemirror/lib/codemirror.css' %}">
  <script src="{% static '/codemirror/lib/codemirror.js' %}"></script>
  <script src="{% static '/codemirror/mode/python/python.js' %}"></script>
  <script src="{% static '/codemirror/mode/go/go.js' %}"></script>
  <script src="{% static '/codemirror/mode/clike/clike.js' %}"></script>
  <script src="{% static '/codemirror/mode/ruby/ruby.js' %}"></script>
  <script src="{% static '/codemirror/mode/perl/perl.js' %}"></script>
  <script src="{% static '/codemirror/mode/swift/swift.js' %}"></script>
  <script src="{% static '/codemirror/mode/pascal/pascal.js' %}"></script>
  <script src="{% static '/codemirror/mode/fortran/fortran.js' %}"></script>
  <style>.CodeMirror {border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5;height: auto;}</style>
{% endblock %}
{% block content %}
<!-- page content -->
      <div class="right_col" role="main">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                    <div class="x_content">
                            <h3><i class="fa fa-check"></i>解决方案<small class="pull-right">题目：<a href="../detail/?id={{ issue.id }}" target="blank">{{ issue.title }}</a>&nbsp&nbsp|&nbsp&nbsp难度等级：容易&nbsp&nbsp|&nbsp&nbsp作者：{{ issue.user.name }}&nbsp&nbsp|&nbsp&nbsp得分：{{ cost }}</small></h3> 
                            <div class="ln_solid"></div>
                    </div>
                    <div class="x_content">
                        <h4>语言：{{ codetype }}<small class="pull-right">{{ createdate }}&nbsp&nbsp|&nbsp&nbsp<span id ="lines"></span>&nbsp&nbspLines</small></h4>
                        <textarea id="code" class="form-control" name="code">{{ code }}
                        </textarea>  
                    </div>
              </div>
            <div class="x_panel">
                <table class="table table-striped">
                    <thead>
                        <tr>
                        <th>测试序号</th>
                        <th>运行时间</th>
                        <th>是否通过</th>
                        <th>得分</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for row in checks %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ row.runtime }}</td>
                            <td>{{ row.ispass }}</td>
                            <td>{{ row.cost }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
      </div>
<!-- /page content -->
{% endblock %}
{% block js %}
    <script>
        var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
            mode: "{{ codetype }}",
                  lineNumbers: true,
                  indentUnit: 4,
                  matchBrackets: true,
                  readOnly: true
        });
        $('#lines').text(editor.lineCount())
    </script>
{% endblock %}